<section class="content-header">
    <h1>
        <div class="media-body">
            <h1 class="text-fade">Manager</h1>
            <span class="text-fade"><i
                    class="fa fa-map-marker"></i> {{ filters.filter_dashboar }}</span>
        </div>
    </h1>
    <ol class="breadcrumb">

    </ol>

</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <ul class="box-controls pull-right">
                <li><a class="box-btn-close" href="#"></a></li>
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>

        </div>

        <div class="box-body">

            <form class="navbar-form navbar-left float-left">
                <div class="input-group">
                    <input class="form-control" type="search" name="q" aria-label="#" placeholder="Szukaj">
                    <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Szukaj</button>
                        </span>
                </div>
            </form>
            <!-- CONTENT_MAIN -->
            <form class="float-left ml-20 mt-20 ">
                <div class="btn-group">
                    <button type="button" class="btn font-size-16
                                                        {% if filters.filter_manager == 'WSZYSCY' %} btn-primary
                                                        {% elif filters.filter_manager == '7 DNI' %} bg-pale-primary
                                                        {% elif filters.filter_manager == '14 DNI' %} bg-pale-primary
                                                        {% elif filters.filter_manager == '30 DNI' %} bg-pale-primary
                                                        {% elif filters.filter_manager == '60 DNI' %} bg-pale-primary
                                                        {% elif filters.filter_manager == 'BUDZIK' %} bg-pale-primary
                                                        {% elif filters.filter_manager == 'PONAD 60 DNI' %} btn-secondary                                                        
                                                        {% endif %} dropdown-toggle btn-sm"
                            data-toggle="dropdown">
                        {% if filters.filter_manager == 'WSZYSCY' %}
                            CAŁY CZAS
                        {% else %}
                            {{ filters.filter_manager }}
                        {% endif %}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           href="{% url 'filters_manager_change' status='WSZYSCY' %}">CAŁY CZAS</a>
                        <a class="dropdown-item"
                           href="{% url 'filters_manager_change' status='7 DNI' %}">7 DNI</a>
                        <a class="dropdown-item"
                           href="{% url 'filters_manager_change' status='14 DNI' %}">14 DNI</a>
                        <a class="dropdown-item"
                           href="{% url 'filters_manager_change' status='30 DNI' %}">30 DNI</a>
                        <a class="dropdown-item"
                           href="{% url 'filters_manager_change' status='60 DNI' %}">60 DNI</a>
                        <a class="dropdown-item"
                           href="{% url 'filters_manager_change' status='PONAD 60 DNI' %}">PONAD 60 DNI</a>
                        <a class="dropdown-item"
                           href="{% url 'filters_manager_change' status='BUDZIK' %}">BUDZIK</a>
                    </div>
                </div>
            </form>
            {% if request.user.is_staff %}
                <form class="float-left ml-20 mt-20 ">
                    <div class="btn-group">
                        <button type="button" class="btn font-size-16
                                                        {% if filters.filter_dashboar == 'BEMOWO' %} btn-primary
                                                        {% elif filters.filter_dashboar == 'STOKŁOSY' %} btn-secondary                                                        
                                                        {% endif %} dropdown-toggle btn-sm"
                                data-toggle="dropdown">{{ filters.filter_dashboar }}

                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="{% url 'filters_dashboard_change' status='STOKŁOSY' %}">STOKŁOSY</a>
                            <a class="dropdown-item"
                               href="{% url 'filters_dashboard_change' status='BEMOWO' %}">BEMOWO</a>
                        </div>
                    </div>
                </form>
            {% endif %}
            <div class="float-left ml-20 mt-25 clearfix">
                {% if filters.filter_manager_gotowy == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='G' %}">
                        <button class="btn bg-primary btn-xs float-left">
                            Gotowe
                        </button>
                    </a>
                {% elif filters.filter_manager_gotowy == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='G' %}">
                        <button class="btn bg-pale-primary btn-xs float-left">
                            Gotowe
                        </button>
                    </a>
                {% endif %}

                {% if filters.filter_manager_nowy == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='N' %}">
                        <button class="btn bg-info btn-xs float-left ml-5">
                            Nowe
                        </button>
                    </a>
                {% elif filters.filter_manager_nowy == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='N' %}">
                        <button class="btn bg-pale-info btn-xs float-left ml-5">
                            Nowe
                        </button>
                    </a>
                {% endif %}

                {% if filters.filter_manager_zaliczka == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='Z' %}">
                        <button class="btn bg-green btn-xs float-left ml-5">
                            Zaliczka
                        </button>
                    </a>
                {% elif filters.filter_manager_zaliczka == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='Z' %}">
                        <button class="btn bg-pale-green btn-xs float-left ml-5">
                            Zaliczka
                        </button>
                    </a>
                {% endif %}

                {% if filters.filter_manager_rezygnacja == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='R' %}">
                        <button class="btn bg-purple btn-xs float-left ml-5">
                            Rezygnacja
                        </button>
                    </a>
                {% elif filters.filter_manager_rezygnacja == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='R' %}">
                        <button class="btn bg-pale-purple btn-xs float-left ml-5">
                            Rezygnacja
                        </button>
                    </a>
                {% endif %}
            
                {% if filters.filter_manager_czeka_na_zgode == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='O' %}">
                        <button class="btn bg-brown btn-xs float-left ml-5">
                            Zgoda
                        </button>
                    </a>
                {% elif filters.filter_manager_czeka_na_zgode == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='O' %}">
                        <button class="btn bg-pale-brown btn-xs float-left ml-5">
                            Zgoda
                        </button>
                    </a>
                {% endif %}
            
                {% if filters.filter_manager_wycena == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='W' %}">
                        <button class="btn bg-success btn-xs float-left ml-5">
                            Wycena
                        </button>
                    </a>
                {% elif filters.filter_manager_wycena == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='W' %}">
                        <button class="btn bg-pale-success btn-xs float-left ml-5">
                            Wycena
                        </button>
                    </a>
                {% endif %}
            
                {% if filters.filter_manager_diagnostyka == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='D' %}">
                        <button class="btn bg-pink btn-xs float-left ml-5">
                            Diagnostyka
                        </button>
                    </a>
                {% elif filters.filter_manager_diagnostyka == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='D' %}">
                        <button class="btn bg-pale-pink btn-xs float-left ml-5">
                            Diagnostyka
                        </button>
                    </a>
                {% endif %}
            
                {% if filters.filter_manager_czeka_na_części == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='C' %}">
                        <button class="btn bg-dark btn-xs float-left ml-5">
                            Części
                        </button>
                    </a>
                {% elif filters.filter_manager_czeka_na_części == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='C' %}">
                        <button class="btn bg-lighter btn-xs float-left ml-5">
                            Części
                        </button>
                    </a>
                {% endif %}
            
                {% if filters.filter_manager_naprawienie == True %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=False status_filter_id='A' %}">
                        <button class="btn bg-pale-dark btn-xs float-left ml-5">
                            Naprawienie
                        </button>
                    </a>
                {% elif filters.filter_manager_naprawienie == False %}
                    <a href="{% url 'settings_manager_status_filter_change' status_filter=True status_filter_id='A' %}">
                        <button class="btn bg-lighter btn-xs float-left ml-5">
                            Naprawienie
                        </button>
                    </a>
                {% endif %}
            </div>
            {% if is_paginated %}
                <form class="navbar-form navbar-right">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                                <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {% for n in gadgets.paginator.page_range %}

                                {% if gadgets.number == n %}

                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                    </li>

                                {% elif n > gadgets.number|add:-5 and n < gadgets.number|add:5 %}

                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            <li class="page-item {% if not next_url %} disabled {% endif %}">
                                <a class="page-link" href="{{ next_url }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </form>
            {% endif %}