<div class="box-body">
    <div class="table-responsive">
        <table id="example"
               class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
            <thead>
            <tr class="bg-secondary ">
                <th class="text-center font-weight-bold b-3 border-white">№</th>
                <th class="text-center font-weight-bold b-3 border-white">Urządzenie</th>
                <th class="text-center font-weight-bold b-3 border-white">Właściciel</th>
                <th class="text-center font-weight-bold b-3 border-white">Data Przyjęcia</th>
                <th class="text-center font-weight-bold b-3 border-white">Technik</th>
                <th class="text-center font-weight-bold b-3 border-white">Czas</th>
                <th class="text-center font-weight-bold b-3 border-white">Stan</th>
                <th class="text-center font-weight-bold b-3 border-white">Rodzaj Naprawy</th>
                <th class="text-center font-weight-bold b-3 border-white">Pilne</th>
                <th class="text-center font-weight-bold b-3 border-white">Przypomnij za ... dni</th>
                

            </tr>
            </thead>

            {% for gadgets_data in gadgets %}
                {% if gadgets_data.location == filters.filter_dashboar %}

                    <tbody>
                    <tr class="text-center font-size-14">
                        <td class="b-3 border-white ">
                            {% if request.user.is_authenticated and request.user.is_staff %}
                                <a href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data.id }}</a>
                            {% elif request.user.is_authenticated and not request.user.is_staff %}
                                <a href="#">{{ gadgets_data.id }}</a>
                            {% endif %}
                        </td>
                        <td class="b-3 border-white">
                            {% if request.user.is_authenticated and request.user.is_staff %}
                                <a href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data.type_gadget }}</a>
                            {% elif request.user.is_authenticated and not request.user.is_staff %}
                                <a href="#">{{ gadgets_data.type_gadget }}</a>
                            {% endif %}
                            <a href="
{% if request.user.is_authenticated and request.user.is_staff %}
{% url 'outgo_gadget' pk=gadgets_data.id %}
{% elif request.user.is_authenticated and not request.user.is_staff %}#
{% endif %}">
                                {% if gadgets_data.brand_gadget %}
                                    {{ gadgets_data.brand_gadget }}
                                {% endif %}
                                {% if gadgets_data %}
                                    {{ gadgets_data }}
                                {% endif %}</a>
                        </td>
                        <td class="b-3 border-white"><a href="
                                            
{% if request.user.is_authenticated and request.user.is_staff %}
{% url 'kartka_klienta' pk=gadgets_data.klient.id %}
{% elif request.user.is_authenticated and not request.user.is_staff %}#
{% endif %}">
                            {% if gadgets_data.klient.name_klient %}
                                {{ gadgets_data.klient.name_klient }}
                            {% endif %}</a>
                        </td>
                        <td class="b-3 border-white"><a
                                href="
{% if request.user.is_authenticated and request.user.is_staff %}
{% url 'outgo_gadget' pk=gadgets_data.id %}
{% elif request.user.is_authenticated and not request.user.is_staff %}#
{% endif %}">{{ gadgets_data.created_at_format }}</a>
                        </td>
                        <td class="b-3 border-white">
                            {% if gadgets_data.in_serwis and request.user.is_authenticated and request.user.is_staff %}
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-secondary dropdown-toggle btn-xs font-size-12 font-weight-medium"
                                            data-toggle="dropdown">

                                        {{ gadgets_data.workers.worker }}
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for user in users %}
                                            <a class="dropdown-item"
                                               href="{% url 'technik_change' gadget_id=gadgets_data.pk user_id=user.pk %}">
                                                {{ user.username }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <button type="button"
                                        class="btn btn-secondary btn-xs font-size-12 font-weight-medium">
                                    {{ gadgets_data.workers.worker }}
                                </button>
                            {% endif %}
                        </td>
                        <td class="b-3 border-white"><a
                                href="#">
                                        
                                        <span class="pull-right mr-10 badge ml-10                                                        
                                                        {% if gadgets_data.time_in_serwis_get <= 3 %} bg-info
                                                        {% elif gadgets_data.time_in_serwis_get > 3 and gadgets_data.time_in_serwis_get <= 14 %} bg-dark
                                                        {% elif gadgets_data.time_in_serwis_get > 14 %} bg-danger                                              
                                                        {% endif %}                                                        
                                                        ">{{ gadgets_data.time_in_serwis_get }} dni
                                                        
                                        </span> </a>
                        </td>


                        <td class="b-3 border-white">
                            {% if request.user.is_authenticated and request.user.is_staff %}
                                <div class="btn-group">
                                    <button type="button" class="btn
                                                        {% if gadgets_data.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.status == 'CZEKA NA ZGODĘ' %} btn-brown
                                                        {% elif gadgets_data.status == 'WYCENA' %} btn-success
                                                        {% elif gadgets_data.status == 'DIAGNOSTYKA' %} btn-pink
                                                        {% elif gadgets_data.status == 'NOWY' %} btn-info
                                                        {% elif gadgets_data.status == 'ZALICZKA' %} bg-green
                                                        {% endif %} dropdown-toggle btn-xs"

                                            data-toggle="dropdown">{{ gadgets_data.status }}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='ZALICZKA' %}">ZALICZKA</a>
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='GOTOWY' %}">GOTOWY</a>
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='NOWY' %}">NOWY</a>
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='REZYGNACJA' %}">REZYGNACJA</a>
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='CZEKA NA ZGODĘ' %}">CZEKA
                                            NA ZGODE</a>
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='WYCENA' %}">WYCENA</a>
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='DIAGNOSTYKA' %}">DIAGNOSTYKA</a>
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='CZEKA NA CZĘŚCI' %}">CZEKA
                                            NA CZĘŚCI</a>
                                        <a class="dropdown-item"
                                           href="{% url 'gadget_status_change' pk=gadgets_data.id status='NAPRAWIENIE' %}">NAPRAWIENIE</a>

                                    </div>
                                </div>
                            {% else %}
                                <button type="button" class="btn
                                                        {% if gadgets_data.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.status == 'NOWY' %} btn-info
                                                        {% elif gadgets_data.status == 'CZEKA NA ZGODĘ' %} btn-brown
                                                        {% elif gadgets_data.status == 'WYCENA' %} btn-success
                                                        {% elif gadgets_data.status == 'DIAGNOSTYKA' %} btn-pink
                                                        {% elif gadgets_data.status == 'ZALICZKA' %} btn-cyan
                                                        {% endif %} btn-xs">{{ gadgets_data.status }}
                                </button>
                            {% endif %}
                        </td>
                        <td class="b-3 border-white">
                            {% if request.user.is_authenticated and request.user.is_staff %}
                                <div class="btn-group">
                                    <button type="button" class="btn
                                                        {% if gadgets_data.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.type_service == 'REKLAMACJA' %} btn-danger
                                                  
                                                        {% endif %}
                                                        btn-xs dropdown-toggle"
                                            data-toggle="dropdown">{{ gadgets_data.type_service }}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{% url 'service_status_change' pk=gadgets_data.id status='PŁATNE' %}">PŁATNE</a>
                                        <a class="dropdown-item"
                                           href="{% url 'service_status_change' pk=gadgets_data.id status='GWARANCJA' %}">GWARANCJA</a>
                                        <a class="dropdown-item"
                                           href="{% url 'service_status_change' pk=gadgets_data.id status='REKLAMACJA' %}">REKLAMACJA</a>
                                    </div>
                                </div>
                            {% else %}
                                <button type="button" class="btn
                                                        {% if gadgets_data.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.type_service == 'REKLAMACJA' %} btn-danger
                                                        {% endif %}
                                                        btn-xs">{{ gadgets_data.type_service }}
                                </button>
                            {% endif %}
                        </td>
                        <td>
                            {% if request.user.is_authenticated and request.user.is_staff %}
                                <div class="btn-group">
                                    <button type="button" class="btn
                                                        {% if gadgets_data.pilne == 'PILNE' %} btn-danger
                                                        {% elif gadgets_data.pilne == 'ŚREDNIO' %} btn-warning
                                                        {% elif gadgets_data.pilne == 'NIE' %} btn-secondary
                                                  
                                                        {% endif %}
                                                        btn-xs dropdown-toggle"
                                            data-toggle="dropdown">{{ gadgets_data.pilne }}
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{% url 'pilne_status_change' pk=gadgets_data.id status='PILNE' %}">PILNE</a>
                                        <a class="dropdown-item"
                                           href="{% url 'pilne_status_change' pk=gadgets_data.id status='ŚREDNIO' %}">ŚREDNIO</a>
                                        <a class="dropdown-item"
                                           href="{% url 'pilne_status_change' pk=gadgets_data.id status='NIE' %}">NIE</a>
                                    </div>
                                </div>
                            {% else %}
                                <button type="button" class="btn
                                                        {% if gadgets_data.pilne == 'NIE' %} btn-secondary
                                                        {% elif gadgets_data.pilne == 'ŚREDNIO' %} btn-warning
                                                        {% elif gadgets_data.pilne == 'PILNE' %} btn-danger
                                                        {% endif %}
                                                        btn-xs">{{ gadgets_data.pilne }}
                                </button>
                            {% endif %}
                        </td>
                        <td class="b-3 border-white">
                            <button class="btn btn-primary btn-rounded btn-outline">1</button>
                            <button class="btn btn-primary btn-rounded btn-outline">2</button>
                            <button class="btn btn-primary btn-rounded btn-outline">3</button>
                            <button class="btn btn-primary btn-rounded btn-outline">7</button>
                            <button class="btn btn-primary btn-rounded btn-outline">14</button>
                            <button class="btn btn-primary btn-rounded btn-outline">30</button>
                            <button class="btn btn-primary btn-rounded btn-outline">nigdy</button>
                        </td>
                    </tr>
                    </tbody>

                {% endif %}
            {% endfor %}

            <tfoot>

            </tfoot>
        </table>
    </div>
</div>