{% extends 'index.html' %}
{% block content %}
    <section class="content-header">
        <h1>
            Tworzenie Kartki
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-edit"></i> </a></li>
            <li class="breadcrumb-item active">Nowa Naprawa</li>
        </ol>
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Kartka Naprawy</h3>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <!-- CONTENT_MAIN -->
                <div class="box-body">
                    <div class="row">
                        <div class="col">
                            <form action="{% url 'add_gadget' %}" method="post">
                                {% csrf_token %}

                                <div class="row">

                                    <div class="col-lg-6 col-12">

                                        <div class="form-group">
                                            <h5>Imie Nazwisko<span class="text-danger">*</span></h5>
                                            {{ form_gad.master_gadget }}
                                        </div>
                                        <div class="form-group">
                                            <h5>Telefon<span class="text-danger">*</span></h5>
                                            {{ form_gad.telefon_master_gadget }}
                                        </div>

                                        <div class="form-group">
                                            <h5>Hasło/Login</h5>
                                            {{ form_gad.password_gadget }}
                                        </div>
                                        <div class="form-group">
                                            <h5>Opis Usterki</h5>
                                            {{ form_gad.opis_problem }}
                                        </div>

                                    </div>

                                    <div class="col-lg-6 col-12">

                                        <div class="form-group">
                                            <h5>Rodzaj Naprawy<span class="text-danger">*</span></h5>
                                            {{ form_gad.type_service }}
                                        </div>
                                        <div class="form-group">
                                            <h5>Rodzaj Urządzenia<span class="text-danger">*</span></h5>
                                            {{ form_gad.type_gadget }}
                                        </div>
                                        <div class="form-group">
                                            <h5>Brand<span class="text-danger">*</span></h5>
                                            {{ form_gad.brand_gadget }}
                                        </div>
                                        <div class="form-group">
                                            <h5>Model<span class="text-danger">*</span></h5>
                                            {{ form_gad.model_gadget }}
                                        </div>
                                        <div class="form-group">
                                            <h5>SERIAL/SSID/SERWIS TAG</h5>
                                            {{ form_gad.serial_gadget }}
                                        </div>
                                        <div class="form-group">
                                            <h5>Zestaw</h5>
                                            {{ form_gad.zestaw }}
                                        </div>

                                    </div>


                                </div>
                                <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-info"><i class="fa fa-save"></i> Zahowuj</button>
                    </form>

                    <a href="{% url 'gadgets' %}">
                        <button class="btn btn-danger right-float"><i class="fa fa-close"></i> Zamknąć</button>
                    </a>
                </div>

               
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
{% endblock %}