{% extends 'index.html' %}
{% block content %}
    <section class="content-header">
        <h1>
            Urządzenia
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-address-book"></i></a></li>
            <li class="breadcrumb-item active">Urządzenia</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Lista Urządzeń</h3>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <!-- CONTENT_MAIN -->

                <!-- Modal -->
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger waves-effect text-left"
                                        data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>


                <!-- /.modal -->

                {% if is_paginated %}
                    <form class="navbar-form navbar-right">

                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item {% if not prev_url %} disabled {% endif %}">
                                    <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% for n in gadgets.paginator.page_range %}

                                    {% if gadgets.number == n %}

                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                        </li>

                                    {% elif n > gadgets.number|add:-10 and n < gadgets.number|add:10 %}

                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                <li class="page-item {% if not next_url %} disabled {% endif %}">
                                    <a class="page-link" href="{{ next_url }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </form>
                {% endif %}

                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input class="form-control" type="search" name="q" placeholder="Szukaj">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Szukaj</button>
                        </span>
                    </div>
                </form>

                <!-- table -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th class="text-center font-weight-bold">№</th>
                                <th class="text-center font-weight-bold">Urządzenie</th>
                                <th class="text-center font-weight-bold">Brand</th>
                                <th class="text-center font-weight-bold">Model</th>
                                <th class="text-center font-weight-bold">Właściciel</th>
                                <th class="text-center font-weight-bold">Telefon</th>
                                <th class="text-center font-weight-bold">Data</th>
                                <th class="text-center font-weight-bold">Stan</th>
                                <th class="text-center font-weight-bold">Rodzaj Naprawy</th>
                            </tr>
                            </thead>

                            {% for gadgets_data in gadgets %}

                                <tbody>
                                <tr class="text-center font-size-14">
                                    <td class="b-3 border-white" class="text-center "><a
                                            href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data.id }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data.type_gadget }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data.brand_gadget }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data.master_gadget }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data.telefon_master_gadget }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a href="{% url 'outgo_gadget' pk=gadgets_data.id %}">{{ gadgets_data.created_at }}</a>
                                    </td>
                                    <td class="b-3 border-white">
                                        <div class="btn-group">
                                            <button type="button" class="btn

                                                        {% if gadgets_data.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.status == 'NOWY' %} btn-info
                                                        {% endif %} dropdown-toggle btn-xs"

                                                    data-toggle="dropdown">{{ gadgets_data.status }}
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.id status='NAPRAWIENIE' %}">NAPRAWIENIE</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.id status='GOTOWY' %}">GOTOWY</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.id status='CZEKA NA CZĘŚCI' %}">CZEKA
                                                    NA CZĘŚCI</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.id status='REZYGNACJA' %}">REZYGNACJA</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.id status='NOWY' %}">NOWY</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="b-3 border-white">


                                        <div class="btn-group">
                                            <button type="button" class="btn

                                                        {% if gadgets_data.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.type_service == 'REKLAMACJA' %} btn-danger
                                                  
                                                        {% endif %} dropdown-toggle btn-xs"

                                                    data-toggle="dropdown">{{ gadgets_data.type_service }}
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                   href="{% url 'service_status_change' pk=gadgets_data.id status='PŁATNE' %}">PŁATNE</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'service_status_change' pk=gadgets_data.id status='GWARANCJA' %}">GWARANCJA</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'service_status_change' pk=gadgets_data.id status='REKLAMACJA' %}">REKLAMACJA</a>
                                            </div>
                                        </div>



                                        {% if gadgets_data.type_service == 'Płatne' %}
                                            <span class="btn btn-info btn-xs">PŁATNE</span>
                                        {% elif gadgets_data.type_service == 'Gwarancja' %}
                                            <span class="btn btn-warning btn-xs">GWARANCJA</span>
                                        {% elif gadgets_data.type_service == 'Reklamacja' %}
                                            <span class="btn btn-danger btn-xs">REKLAMACJA</span>
                                        {% endif %}
                                    </td>
                                    <td class="b-3 border-white">

                                        <div class="clearfix">

                                            <a href="{% url 'outgo_gadget' pk=gadgets_data.pk %}">
                                                <button class="btn btn-primary btn-xs">Wydaj
                                                </button>
                                            </a>
                                            <a href="{{ gadgets_data.get_absolute_url }}">
                                                <button class="btn btn-info btn-xs">Edit</button>
                                            </a>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-danger
                            
                                                dropdown-toggle btn-xs" data-toggle="dropdown">Delete
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="text-center" class="dropdown-item"
                                                       href=""><h2>Jesteś pewny?</h2>
                                                    </a>
                                                    <a class="text-center" class="dropdown-item"
                                                       href="{% url 'delete_gadget' pk=gadgets_data.pk %}"><h2>
                                                        DELETE</h2></a>
                                                </div>
                                            </div>
                                    </td>
                                </tr>
                                </tbody>


                            {% endfor %}

                            <tfoot>
                            <tr>
                                <th class="text-center font-weight-bold">№</th>
                                <th class="text-center font-weight-bold">Urządzenie</th>
                                <th class="text-center font-weight-bold">Brand</th>
                                <th class="text-center font-weight-bold">Model</th>
                                <th class="text-center font-weight-bold">Właściciel</th>
                                <th class="text-center font-weight-bold">Telefon</th>
                                <th class="text-center font-weight-bold">Data</th>
                                <th class="text-center font-weight-bold">Stan</th>
                                <th class="text-center font-weight-bold">Rodzaj Naprawy</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="box-footer"></div>
    </section>
{% endblock content %}
