{% extends 'index.html' %}
{% block content %}
    <section class="content-header">
        <h1>
            Wydaj Urządzenie {{ gadget.id }}
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-edit"></i> </a></li>
            <li class="breadcrumb-item active">Wydaj Urządzenie</li>
        </ol>
    </section>
    <section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Kartka Urządzenia {{ gadget.id }} {% if gadget.in_serwis == True %}
                <span class="badge badge-primary font-size-16" >W serwise</span> {% elif gadget.in_serwis == False %}
                <span class="badge badge-warning font-size-16">Wydane</span> {% endif %}</h3>
            <ul class="box-controls pull-right">
                <li><a class="box-btn-close" href="#"></a></li>
                <li><a class="box-btn-slide" href="#"></a></li>
                <li><a class="box-btn-fullscreen" href="#"></a></li>
            </ul>
        </div>
        <div class="box-body">
            <!-- CONTENT_MAIN -->
            <div class="box-body">
                <div class="row">
                    <div class="col">
                        <form action="{% url 'outgo_gadget' pk=gadget.id %}" method="post">
                            {% csrf_token %}

                            <div class="row">

                                <div class="col-lg-6 col-12">

                                    <div class="form-group">
                                        <h5>Imie Nazwisko<span
                                                class="text-danger">: {{ gadget.master_gadget }}</span></h5>

                                    </div>
                                    <div class="form-group">
                                        <h5>Telefon<span
                                                class="text-danger">: {{ gadget.telefon_master_gadget }}</span></h5>

                                    </div>
                                    <div class="form-group">
                                    <h5>Zestaw<span class="text-danger">: {{ gadget.zestaw }}</span></h5>
                                </div>

                                </div>
                                

                            </div>


                    </div>

                    <div class="col-lg-6 col-12">

                        <div class="form-group">
                            <h5>Rodzaj Urządzenia<span
                                    class="text-danger">: {{ gadget.type_gadget }}</span></h5>

                        </div>
                        <div class="form-group">
                            <h5>Brand<span class="text-danger">: {{ gadget.brand_gadget }}</span></h5>

                        </div>
                        <div class="form-group">
                            <h5>Model<span class="text-danger">: {{ gadget }}</span></h5>
                            {{ form_gad.model_gadget }}
                        </div>
                        <div class="form-group">
                            <h5>SERIAL/SSID/SERWIS TAG<span
                                    class="text-danger">: {{ gadget.serial_gadget }}</span></h5>


                        </div>


                    </div>

                </div>

            </div>
        </div>

        <div class="box-footer">
            
            {% if gadget.in_serwis == True %}
                <button type="submit" class="btn btn-primary float-left"><i class="fa fa-reply"></i> Wydaj</button>
            {% elif gadget.in_serwis == False %}
                <button type="submit" class="btn btn-info float-left"><i class="fa fa-mail-forward"></i> Przyjmij</button>
            {% endif %}

            
            </form>
            <button type="" class="btn btn-warning float-left ml-20"><i class="fa fa-print"></i> Drukuj</button>
            <a href="{% url 'gadgets' %}">
                <button class="btn btn-danger float-right"><i class="fa fa-close"></i> Anuluj</button>
            </a>

        </div>
    </div>
{% endblock %}
