{% extends 'index.html' %}
{% block content %}
    <section class="content-header">
        <h1>
            <div class="media-body">
                <h1 class="text-fade">Urządzenie {{ gadget.id }}</h1>
                <span class="text-fade"><i
                        class="fa fa-map-marker"></i> {{ gadget.location }}</span>
            </div>
        </h1>
        <ol class="breadcrumb">
        </ol>
    </section>
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title float-left mt-10 text-fade">Kartka Urządzenia
                    №{{ gadget.id }} {{ gadget.created_at_format }}
                </h3>
                <h3 class="float-left ml-20">
                    {% if gadget.in_serwis == True %}
                        <span class="badge badge-primary font-size-16">W serwise</span> {% elif gadget.in_serwis == False %}
                        <span class="badge badge-secondary font-size-16">Wydane</span> {% endif %}
                    {% if gadget.status == 'NAPRAWIENIE' %}
                        <span class="badge badge-default font-size-16">NAPRAWIENIE</span>
                    {% elif gadget.status == 'GOTOWY' %} <span class="badge badge-primary font-size-16">GOTOWY</span>
                    {% elif gadget.status == 'CZEKA NA CZĘŚCI' %}
                        <span class="badge badge-dark font-size-16">CZEKA NA CZĘŚCI</span>
                    {% elif gadget.status == 'CZEKA NA ZGODĘ' %}
                        <span class="badge badge-brown font-size-16">CZEKA NA ZGODĘ</span>
                    {% elif gadget.status == 'WYCENA' %}
                        <span class="badge badge-success font-size-16">WYCENA</span>
                    {% elif gadget.status == 'DIAGNOSTYKA' %}
                        <span class="badge badge-pink font-size-16">DIAGNOSTYKA</span>
                    {% elif gadget.status == 'ZALICZKA' %}
                        <span class="badge bg-green font-size-16">ZALICZKA</span>
                    {% elif gadget.status == 'REZYGNACJA' %}
                        <span class="badge badge-purple font-size-16"> REZYGNACJA</span>
                    {% elif gadget.status == 'NOWY' %} <span class="badge badge-info font-size-16"> NOWY</span>
                    {% endif %}
                    {% if gadget.type_service == 'PŁATNE' %}
                        <span class="badge badge-info font-size-16">PŁATNE</span>
                    {% elif gadget.type_service == 'GWARANCJA' %}
                        <span class="badge badge-warning font-size-16">GWARANCJA</span>
                    {% elif gadget.type_service == 'REKLAMACJA' %}
                        <span class="badge badge-danger font-size-16">REKLAMACJA</span>
                    {% endif %}
                    {% if gadget.pilne == 'PILNE' %}
                        <span class="badge badge-danger font-size-16">PILNE</span>
                    {% elif gadget.pilne == 'ŚREDNIO' %}
                        <span class="badge badge-warning font-size-16">ŚREDNIO</span>
                    {% endif %}
                    <span class="badge font-size-16                                                        
                    {% if gadget.time_in_serwis_get <= 3 %} bg-info
                    {% elif gadget.time_in_serwis_get > 3 and gadget.time_in_serwis_get <= 14 %} bg-dark
                    {% elif gadget.time_in_serwis_get > 14 %} bg-danger                                              
                    {% endif %}                                                        
                    ">{{ gadget.time_in_serwis_get }} dni
                    </span>
                    {% if request.user.is_authenticated and request.user.is_staff %}
                        <div class="btn-group">
                            <button type="button" class="btn
                                                        {% if gadget.location == 'STOKŁOSY' %} btn-secondary
                                                        {% elif gadget.location == 'BEMOWO' %} btn-primary
                                                        {% endif %} dropdown-toggle btn-sm font-size-16"
                                    data-toggle="dropdown">{{ gadget.location }}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item font-size-16"
                                   href="{% url 'gadget_location_change' pk=gadget.id location_id='STOKŁOSY' %}">STOKŁOSY</a>
                                <a class="dropdown-item font-size-16"
                                   href="{% url 'gadget_location_change' pk=gadget.id location_id='BEMOWO' %}">BEMOWO</a>
                            </div>
                        </div>
                    {% else %}
                        <button type="button" class="btn
                                                        {% if gadget.location == 'STOKŁOSY' %} btn-secondary
                                                        {% elif gadget.location == 'BEMOWO' %} btn-primary
                                                        {% endif %} dropdown-toggle btn-sm font-size-16"
                                data-toggle="dropdown">{{ gadget.location }}
                        </button>
                    {% endif %}
                </h3>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide rotate-180" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <!-- CONTENT_MAIN -->
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <h5>Urządzenie: <span class="font-weight-bold font-size-20">
                                    {% if gadget.type_gadget %}
                                        {{ gadget.type_gadget }}
                                    {% endif %}
                                        {% if gadget.brand_gadget %}
                                            {{ gadget.brand_gadget }}
                                        {% endif %}
                                        {% if gadget %}
                                            {{ gadget }}
                                        {% endif %}
                                    </span>
                                    </h5>
                                </div>
                                {% if gadget.serial_gadget %}
                                    <div class="form-group">
                                        <h5>SERIAL/SSID/SERWIS TAG: <span
                                                class="font-weight-bold font-size-20">{{ gadget.serial_gadget }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.klient.name_klient %}
                                    <div class="form-group">
                                        <h5>Imie Nazwisko: <span
                                                class="font-weight-bold font-size-20">{{ gadget.klient.name_klient }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.klient.telefon_klient %}
                                    <div class="form-group">
                                        <h5>Telefon: <span
                                                class="font-weight-bold font-size-20">{{ gadget.klient.telefon_klient }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.zestaw %}
                                    <div class="form-group">
                                        <h5>Zestaw: <span
                                                class="font-weight-bold font-size-20">{{ gadget.zestaw }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.workers.worker %}
                                    <div class="form-group">
                                        <h5>Technik: <span
                                                class="font-weight-bold font-size-20">{{ gadget.workers.worker }}</span>
                                        </h5>
                                    </div>
                                {% elif gadget.technik_ost %}
                                    <div class="form-group">
                                        <h5>Technik: <span
                                                class="font-weight-bold font-size-20">{{ gadget.technik_ost }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.usterki_zewn %}

                                    <div class="form-group">
                                        <h5>Usterki Zewnętrzne: <span
                                                class="font-weight-bold font-size-20">{{ gadget.usterki_zewn }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.opis_problem %}

                                    <div class="form-group">
                                        <h5>Opis Usterki: <span
                                                class="font-weight-bold font-size-20">{{ gadget.opis_problem }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.opis_naprawy %}
                                    <div class="form-group">
                                        <h5>Opis naprawy: <span
                                                class="font-weight-bold font-size-20">{{ gadget.opis_naprawy }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.password_gadget %}
                                    <div class="form-group">
                                        <h5>Hasło/Tag: <span
                                                class="font-weight-bold font-size-20">{{ gadget.password_gadget }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="mb-15 ml-70">
                                    <form action="{% url 'add_note' pk=gadget.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <span class="input-group-btn">{{ form.title }}</span>
                                            {{ form.content }}
                                        </div>
                                    </form>
                                </div>
                                {% for note in notes %}
                                    <!-- CONTENT_NOTE -->
                                    <div class="timeline timeline-single-column timeline-single-full-column">
                                        <div class="timeline-item timeline-item-left">
                                            <div class="timeline-point timeline-point-blank"></div>
                                            <div class="timeline-event timeline-event-default">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title float-left">{{ note.author }}
                                                        {% if note.title == 'none' %}
                                                        {% else %}
                                                            <badge class="badge-pill  bg-pale-info">{{ note.title }}</badge>
                                                        {% endif %}
                                                        {% if not request.user == note.author and not note.read %}
                                                            <a href="{% url 'red_note' pk=note.id %}">
                                                                <badge class="badge-pill bg-red">Zaakceptować</badge>
                                                            </a>
                                                        {% elif not request.user == note.author and note.read %}
                                                            <badge class="badge-pill bg-green">OK</badge>
                                                        {% elif request.user == note.author and not note.read %}
                                                            <badge class="badge-pill bg-red">Nie zaakceptowane</badge>
                                                        {% elif request.user == note.author and note.read %}
                                                            <badge class="badge-pill bg-green">OK</badge>
                                                        {% endif %}
                                                    </h6>
                                                    <h6 class="float-right">{{ note.created_at_format }} <a
                                                            href="{% url 'delete_note' pk=note.pk %}">
                                                        <badge class="badge-pill bg-pale-danger"><i
                                                                class="fa fa-close"></i></badge>
                                                    </a>
                                                    </h6>
                                                </div>
                                                <div class="timeline-body mt-15">
                                                    <p class="font-size-16">{{ note.content }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if request.user.is_authenticated and request.user.is_staff %}
                            {% if gadget.in_serwis == True %}
                                <button type="submit" class="btn btn-primary float-left" data-toggle="modal"
                                        data-target="#wydaj">
                                    <i class="fa fa-reply"></i> Wydaj
                                </button>
                            {% elif gadget.in_serwis == False %}
                                <button type="submit" class="btn btn-secondary float-left" data-toggle="modal"
                                        data-target="#wydaj">
                                    <i class="fa fa-mail-forward"></i> Przyjmij
                                </button>
                            {% endif %}
                            <div id="wydaj" class="modal fade" tabindex="-1" role="dialog"
                                 aria-labelledby="1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="1">
                                                {% if gadget.in_serwis %}
                                                    Wydać urządzenie?
                                                {% else %}
                                                    Wziąć ponownie urządzenie do naprawy?
                                                {% endif %}
                                            </h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">×
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                                <span class="font-size-20 font-weight-bold ">
                                                    №{{ gadget.id }} {{ gadget.type_gadget }}
                                                    {% firstof gadget.brand_gadget %}
                                                    {% firstof gadget %}
                                                </span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger float-right mt-20"
                                                    data-dismiss="modal">Nie
                                            </button>
                                            <form action="{% url 'outgo_gadget' pk=gadget.id %}" method="post"
                                                  class="mt-20">
                                                {% csrf_token %}
                                                {% if gadget.in_serwis == True %}
                                                    <button type="submit" class="btn btn-primary float-left"><i
                                                            class="fa fa-reply"></i> Wydaj
                                                    </button>
                                                {% elif gadget.in_serwis == False %}
                                                    <button type="submit" class="btn btn-secondary float-left"><i
                                                            class="fa fa-mail-forward"></i> Przyjmij
                                                    </button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'print_gadget' pk=gadget.pk %}">
                                <button class="btn btn-warning float-left ml-20"><i
                                        class="fa fa-print"></i> Drukuj
                                </button>
                            </a>
                            <a href="{% url 'edit_gadget' pk=gadget.pk %}">
                                <button class="btn btn-info float-left ml-20"><i class="fa fa-edit"></i> Edituj</button>
                            </a>
                        {% else %}
                            <a href="{% url 'add_opis_naprawy' pk=gadget.id %}">
                                <button type="submit" class="btn btn-info float-left"><i
                                        class="fa fa-sticky-note"></i>
                                    Dodaj opis naprawy
                                </button>
                            </a>
                        {% endif %}
                        {% if gadget.in_serwis %}
                            {% if gadget.workers.in_work == True %}
                                <button type="submit" class="btn btn-primary float-left ml-20" data-toggle="modal"
                                        data-target="#odstawic">
                                    <i class="fa fa-reply"></i> Odstawic
                                </button>
                            {% elif gadget.status == 'NOWY' %}
                                <button type="submit" class="btn btn-secondary float-left ml-20" data-toggle="modal"
                                        data-target="#odstawic">
                                    <i class="fa fa-mail-forward"></i> Dodaj na sobie
                                </button>
                            {% elif gadget.workers.in_work == False and not gadget.status == 'NOWY' %}
                                <span class="btn bg-pale-primary ml-20">Odstawione</span>
                            {% endif %}
                            <div id="odstawic" class="modal fade" tabindex="-1" role="dialog"
                                 aria-labelledby="1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="1">
                                                {% if gadget.workers.in_work %}
                                                    Odstawic urządzenie?
                                                {% else %}
                                                    Wziąć urządzenie do naprawy?
                                                {% endif %}
                                            </h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">×
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                                <span class="font-size-20 font-weight-bold ">
                                                    №{{ gadget.id }} {{ gadget.type_gadget }}
                                                    {% firstof gadget.brand_gadget %}
                                                    {% firstof gadget %}
                                                </span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger float-right mt-20"
                                                    data-dismiss="modal">Nie
                                            </button>
                                            {% if gadget.workers.in_work == True %}
                                                <a href="{% url 'odstawic_gadget' pk=gadget.workers.id %}">
                                                    <button type="submit" class="btn btn-primary float-left mt-20">
                                                        <i class="fa fa-reply"></i> Odstawic
                                                    </button>
                                                </a>
                                            {% else %}
                                                <a href="{% url 'add_gadget_to_worker' pk=gadget.id %}">
                                                    <button type="submit" class="btn btn-secondary float-left mt-20">
                                                        <i class="fa fa-mail-forward"></i> Dodaj
                                                    </button>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif not gadget.in_serwis %}
                            <span class="btn bg-pale-primary ml-20">Wydane Klientowi</span>
                        {% endif %}
                    {% if gadget.in_serwis == True and gadget.workers.in_work == True %}
                        {% if gadget.alarm_on == False %}
                            <button type="submit" class="btn bg-brown float-left ml-20" data-toggle="modal"
                                    data-target="#biurko">
                                <i class="fa fa-reply"></i> Na Biurko
                            </button>
                        {% elif gadget.alarm_on == True %}
                            <button type="submit" class="btn btn-secondary float-left ml-20" data-toggle="modal"
                                    data-target="#biurko">
                                <i class="fa fa-mail-forward"></i> Kartka z Przodu
                            </button>
                        {% endif %}
                        <div id="biurko" class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="1">
                                            {% if gadget.alarm_on == True %}
                                                Zwrócić kartę z przodu??
                                            {% else %}
                                                Wysłać kartę do przodu?
                                            {% endif %}
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                                <span class="font-size-20 font-weight-bold ">
                                                    №{{ gadget.id }} {{ gadget.type_gadget }}
                                                    {% firstof gadget.brand_gadget %}
                                                    {% firstof gadget %}
                                                </span>
                                        <h4><br> z komentarzem: <br><br> {% firstof gadget.note_set.first %}</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger float-right mt-20"
                                                data-dismiss="modal">Nie
                                        </button>
                                        <form action="{% url 'alarm_at_change' pk=gadget.id %}" method="post"
                                              class="mt-20">
                                            {% csrf_token %}
                                            {% if gadget.alarm_on == False %}
                                                <button type="submit" class="btn bg-brown float-left"><i
                                                        class="fa fa-reply"></i> Wyślij
                                                </button>
                                            {% elif gadget.alarm_on == True %}
                                                <button type="submit" class="btn btn-secondary float-left"><i
                                                        class="fa fa-mail-forward"></i> Zwrócić
                                                </button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <input type="button" class="btn btn-danger float-right" onclick="history.back();" value="Zamknąć"/>
{#                        <a href="{% url 'gadgets' %}">#}
{#                            <button type="submit" class="btn btn-danger float-right ml-20"><i#}
{#                                    class="fa fa-close"></i>#}
{#                                Zamknąć#}
{#                            </button>#}
{#                        </a>#}
                    </div>
                </div>
            </div>
    </section>
    <script>
        function update() {
            location.reload(false);
        }

        setTimeout('update()', 300000);
    </script>
{% endblock %}

