{% extends 'index.html' %}
{% block content %}

    <section class="content-header">
        <h1>
            Urządzenie {{ gadget.id }} <br>Lokalizacja: {{ gadget.location }}
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-edit"></i> </a></li>
            <li class="breadcrumb-item active">Urządzenie</li>
        </ol>
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title float-left mt-10">Kartka Urządzenia
                    №{{ gadget.id }} {{ gadget.created_at_format }}</h3>
                <h3 class="float-left ml-20">

                    {% if gadget.in_serwis == True %}
                        <span class="badge badge-primary font-size-16">W serwise</span> {% elif gadget.in_serwis == False %}
                        <span class="badge badge-secondary font-size-16">Wydane</span> {% endif %}

                    {% if gadget.status == 'NAPRAWIENIE' %}
                        <span class="badge badge-default font-size-16">NAPRAWIENIE</span>
                    {% elif gadget.status == 'GOTOWY' %} <span class="badge badge-primary font-size-16">GOTOWY</span>
                    {% elif gadget.status == 'CZEKA NA CZĘŚCI' %}
                        <span class="badge badge-dark font-size-16">CZEKA NA CZĘŚCI</span>
                    {% elif gadget.status == 'REZYGNACJA' %}
                        <span class="badge badge-purple font-size-16"> REZYGNACJA</span>
                    {% elif gadget.status == 'CZEKA NA ZGODĘ' %}
                        <span class="badge badge-brown font-size-16">CZEKA NA ZGODĘ</span>
                    {% elif gadget.status == 'WYCENA' %}
                        <span class="badge badge-success font-size-16">WYCENA</span>
                    {% elif gadget.status == 'DIAGNOSTYKA' %}
                        <span class="badge badge-pink font-size-16">DIAGNOSTYKA</span>
                    {% elif gadget.status == 'NOWY' %} <span class="badge badge-info font-size-16"> NOWY</span>
                    {% endif %}

                    {% if gadget.type_service == 'PŁATNE' %}
                        <span class="badge badge-info font-size-16">PŁATNE</span>
                    {% elif gadget.type_service == 'GWARANCJA' %}
                        <span class="badge badge-warning font-size-16">GWARANCJA</span>
                    {% elif gadget.type_service == 'REKLAMACJA' %}
                        <span class="badge badge-danger font-size-16">REKLAMACJA</span>
                    {% endif %}

                    {% if gadget.pilne == 'PILNE' %}
                        <span class="badge badge-danger font-size-16">PILNE</span>
                    {% endif %}
                    <span class="badge font-size-16                                                        
                    {% if gadget.time_in_serwis_get <= 3 %} bg-info
                    {% elif gadget.time_in_serwis_get > 3 and gadget.time_in_serwis_get <= 14 %} bg-dark
                    {% elif gadget.time_in_serwis_get > 14 %} bg-danger                                              
                    {% endif %}                                                        
                    ">{{ gadget.time_in_serwis_get }} dni
                    </span>

                    {% if request.user.is_authenticated and request.user.is_staff %}
                        <div class="btn-group">
                            <button type="button" class="btn
                                                        {% if gadget.location == 'STOKŁOSY' %} btn-secondary
                                                        {% elif gadget.location == 'BEMOWO' %} btn-primary
                                                        {% endif %} dropdown-toggle btn-sm font-size-16"
                                    data-toggle="dropdown">{{ gadget.location }}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item font-size-16"
                                   href="{% url 'gadget_location_change' pk=gadget.id location_id='STOKŁOSY' %}">STOKŁOSY</a>
                                <a class="dropdown-item font-size-16"
                                   href="{% url 'gadget_location_change' pk=gadget.id location_id='BEMOWO' %}">BEMOWO</a>
                            </div>
                        </div>
                    {% else %}
                        <button type="button" class="btn
                                                        {% if gadget.location == 'STOKŁOSY' %} btn-secondary
                                                        {% elif gadget.location == 'BEMOWO' %} btn-primary
                                                        {% endif %} dropdown-toggle btn-sm font-size-16"
                                data-toggle="dropdown">{{ gadget.location }}
                        </button>
                    {% endif %}

                </h3>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide rotate-180" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <!-- CONTENT_MAIN -->

                <div class="row">
                    <div class="col">


                        <div class="row">

                            <div class="col-lg-6 col-12">


                                <div class="form-group">
                                    <h5>Urządzenie: <span class="font-weight-bold font-size-20">
                                    {% if gadget.type_gadget %}
                                        {{ gadget.type_gadget }}
                                    {% endif %}
                                        {% if gadget.brand_gadget %}
                                            {{ gadget.brand_gadget }}
                                        {% endif %}
                                        {% if gadget %}
                                            {{ gadget }}
                                        {% endif %}
                                    </span>
                                    </h5>
                                </div>
                                {% if gadget.serial_gadget %}
                                    <div class="form-group">
                                        <h5>SERIAL/SSID/SERWIS TAG: <span
                                                class="font-weight-bold font-size-20">{{ gadget.serial_gadget }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.klient.name_klient %}
                                    <div class="form-group">
                                        <h5>Imie Nazwisko: <span
                                                class="font-weight-bold font-size-20">{{ gadget.klient.name_klient }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.klient.telefon_klient %}
                                    <div class="form-group">
                                        <h5>Telefon: <span
                                                class="font-weight-bold font-size-20">{{ gadget.klient.telefon_klient }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.zestaw %}
                                    <div class="form-group">
                                        <h5>Zestaw: <span
                                                class="font-weight-bold font-size-20">{{ gadget.zestaw }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.workers.worker %}
                                    <div class="form-group">
                                        <h5>Technik: <span
                                                class="font-weight-bold font-size-20">{{ gadget.workers.worker }}</span>
                                        </h5>
                                    </div>
                                {% elif gadget.technik_ost %}
                                    <div class="form-group">
                                        <h5>Technik: <span
                                                class="font-weight-bold font-size-20">{{ gadget.technik_ost }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.usterki_zewn %}

                                    <div class="form-group">
                                        <h5>Usterki Zewnętrzne: <span
                                                class="font-weight-bold font-size-20">{{ gadget.usterki_zewn }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.opis_problem %}

                                    <div class="form-group">
                                        <h5>Opis Usterki: <span
                                                class="font-weight-bold font-size-20">{{ gadget.opis_problem }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if gadget.opis_naprawy %}
                                    <div class="form-group">
                                        <h5>Opis naprawy: <span
                                                class="font-weight-bold font-size-20">{{ gadget.opis_naprawy }}</span>
                                        </h5>
                                        {{ form_gad.model_gadget }}
                                    </div>
                                {% endif %}
                                {% if gadget.password_gadget %}
                                    <div class="form-group">
                                        <h5>Hasło/Tag: <span
                                                class="font-weight-bold font-size-20">{{ gadget.password_gadget }}</span>
                                        </h5>

                                    </div>
                                {% endif %}

                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="mb-15 ml-70">
                                    <form action="{% url 'add_note' pk=gadget.id %}" method="post">
                                        {% csrf_token %}

                                        <div class="input-group">
                                            <span class="input-group-btn">{{ form.title }}</span>
                                            {{ form.content }}
                                        </div>
                                    </form>
                                </div>
                                {% for note in notes %}
                                    <!-- CONTENT_NOTE -->
                                    <div class="timeline timeline-single-column timeline-single-full-column">
                                        <div class="timeline-item timeline-item-left">
                                            <div class="timeline-point timeline-point-blank"></div>
                                            <div class="timeline-event timeline-event-default">
                                                <div class="timeline-heading">
                                                    <h6 class="timeline-title float-left">{{ note.author }}
                                                        {% if note.title == 'none' %}
                                                        {% else %}
                                                            <badge class="badge-pill  bg-pale-info">{{ note.title }}</badge>
                                                        {% endif %}
                                                        {% if not request.user == note.author and not note.read %}
                                                            <a href="{% url 'red_note' pk=note.id %}">
                                                                <badge class="badge-pill bg-red">Zaakceptować</badge>
                                                            </a>
                                                        {% elif not request.user == note.author and note.read %}
                                                            <badge class="badge-pill bg-green">OK</badge>
                                                        {% elif request.user == note.author and not note.read %}
                                                            <badge class="badge-pill bg-red">Nie zaakceptowane</badge>
                                                        {% elif request.user == note.author and note.read %}
                                                            <badge class="badge-pill bg-green">OK</badge>
                                                        {% endif %}
                                                    </h6>
                                                    <h6 class="float-right">{{ note.created_at_format }} <a
                                                            href="{% url 'delete_note' pk=note.pk %}">
                                                        <badge class="badge-pill bg-pale-danger"><i
                                                                class="fa fa-close"></i></badge>
                                                    </a>
                                                    </h6>

                                                </div>
                                                <div class="timeline-body mt-15">
                                                    <p class="font-size-16">{{ note.content }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if request.user.is_authenticated and request.user.is_staff %}
                            <form action="{% url 'outgo_gadget' pk=gadget.id %}" method="post"
                                  class="mt-20">
                                {% csrf_token %}
                                {% if gadget.in_serwis == True %}
                                    <button type="submit" class="btn btn-primary float-left">
                                        <i class="fa fa-reply"></i>
                                        Wydaj
                                    </button>
                                {% elif gadget.in_serwis == False %}
                                    <button type="submit" class="btn btn-primary float-left">
                                        <i class="fa fa-mail-forward"></i>
                                        Przyjmij
                                    </button>
                                {% endif %}
                            </form>
                            <a href="{% url 'print_gadget' pk=gadget.pk %}">
                                <button class="btn btn-warning float-left ml-20"><i
                                        class="fa fa-print"></i> Drukuj
                                </button>
                            </a>
                            <a href="{% url 'edit_gadget' pk=gadget.pk %}">
                                <button class="btn btn-info float-left ml-20"><i class="fa fa-edit"></i> Edituj</button>
                            </a>

                        {% else %}
                            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                 aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myLargeModalLabel">Opis Naprawy</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'add_opis_naprawy' pk=gadget.id %}" method="post">
                                                {% csrf_token %}
                                                {{ form_opis.opis_naprawy }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger float-right"
                                                    data-dismiss="modal">Zamkni
                                            </button>
                                            <button type="submit" class="btn btn-info text-left">OK</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info float-left"
                                    data-toggle="modal" data-target=".bs-example-modal-lg">
                                <i class="fa fa-sticky-note"></i>
                                Dodaj opis naprawy
                            </button>
                        {% endif %}
                        {% if gadget.in_serwis %}
                            {% if gadget.workers.in_work %}
                                <div class="btn-group ml-20">
                                    <button type="button"
                                            class="btn bg-primary dropdown-toggle"
                                            data-toggle="dropdown">
                                        Odstawic
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="text-center dropdown-item"
                                           href=""><h2>Jesteś pewny?</h2>
                                        </a>
                                        <br>
                                        <a class="text-center dropdown-item"
                                           href="{% url 'odstawic_gadget' pk=gadget.workers.id %}">
                                            <h2>
                                                Odstawic</h2></a>
                                    </div>
                                </div>
                            {% else %}
                                <span class="btn bg-pale-primary ml-20">Odstawione</span>
                            {% endif %}
                        {% endif %}

                        <a href="{% url 'workers_list' pk=gadget.workers.worker.id %}">
                            <button type="submit" class="btn btn-danger float-right ml-20"><i
                                    class="fa fa-close"></i>
                                Zamknąć
                            </button>
                        </a>

                    </div>
                </div>
            </div>

    </section>
    <script>
        function update() {
            location.reload(false);
        }

        setTimeout('update()', 300000);
    </script>




{% endblock %}