{% extends 'index.html' %}
{% block content %}

    <section class="content-header">
        <h1>
            Pracowniki
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-edit"></i> </a></li>
            <li class="breadcrumb-item active">###</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Pracowniki</h3>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <div class="row">
                    {% for item_u in users %}
                        {% if item_u.workers_set.exists %}
                            <div class="col-xl-4 col-lg-6 col-12">
                                <!-- Widget: user widget style 1 -->
                                <div class="box box-widget widget-user-2">
                                    <!-- Add the bg color to the header using any of the bg-* classes -->
                                    <div class="widget-user-header bg-dark">

                                        <!-- /.widget-user-image -->
                                        <a href="{% url 'workers_list' pk=item_u.id %}" class="btn btn-primary"><h6
                                                class="widget-user-username float-left">{{ item_u.username }}</h6>
                                        </a>
                                        <h6 class="widget-user-desc float-right">
                                            <span class="font-size-30  ">{{ item_u.workers_set.count }} </span> <span
                                                class="fa fa-laptop font-size-30 "></span></h6>
                                    </div>
                                    {% for item_g in item_u.workers_set.all %}
                                        {% if item_g.gadget.in_serwis %}
                                            <div class="box-footer no-padding">
                                                <ul class="nav d-block nav-stacked font-size-16">
                                                    <li class="nav-item"><a
                                                            href="{% url 'gadget_info' pk=item_g.gadget.id user_pk=item_u.id %}"
                                                            class="nav-link">{{ item_g.gadget }}

                                                        <span class="pull-right mr-10 badge ml-10                                                        
                                                        {% if item_g.gadget.time_in_serwis_get <= 3 %} bg-info
                                                        {% elif item_g.gadget.time_in_serwis_get > 3 and item_g.gadget.time_in_serwis_get <= 14 %} bg-warning
                                                        {% elif item_g.gadget.time_in_serwis_get > 14 %} bg-danger                                              
                                                        {% endif %}                                                        
                                                        ">{{ item_g.gadget.time_in_serwis_get }} dni
                                                        </span>

                                                        <span class="pull-right badge                                                         
                                                        {% if item_g.gadget.status == 'NAPRAWIENIE' %} bg-secondary
                                                        {% elif item_g.gadget.status == 'GOTOWY' %} bg-primary
                                                        {% elif item_g.gadget.status == 'CZEKA NA CZĘŚCI' %} bg-dark
                                                        {% elif item_g.gadget.status == 'REZYGNACJA' %} bg-purple
                                                        {% elif item_g.gadget.status == 'NOWY' %} bg-info
                                                        {% endif %}                                                        
                                                        ">{{ item_g.gadget.status }}
                                                        </span>

                                                        <span class="pull-right mr-10 badge                                                         
                                                        {% if item_g.gadget.type_service == 'PŁATNE' %} bg-info
                                                        {% elif item_g.gadget.type_service == 'GWARANCJA' %} bg-warning
                                                        {% elif item_g.gadget.type_service == 'REKLAMACJA' %} bg-danger                                              
                                                        {% endif %}                                                        
                                                        ">{{ item_g.gadget.type_service }}


                                                    </a>

                                                    </li>


                                                </ul>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </section>

{% endblock %}