{% extends 'index.html' %}
{% block content %}

    <section class="content-header">
        <h1>
            Pracowniki
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-edit"></i> </a></li>
            <li class="breadcrumb-item active">###</li>
        </ol>
    </section>
    <section class="content">
        <div class="box-body">
            <div class="row">
                {% for item_u in users %}
                    {% if item_u.workers_set.exists %}
                        <div class="col-xl-4 col-lg-6 col-12">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                
                                    <div class="box-body p-0">
                                        <div class="media-list media-list-hover">
                                            <a class="media media-single" href="{% url 'workers_list' pk=item_u.id %}">
                                                <div class="media-body">
                                                    <h1 class="text-fade">{{ item_u.username }}</h1>
                                                    <span class="text-fade"><i
                                                            class="fa fa-map-marker"></i> {{ item_u.workers_set.first.gadget.location }}</span>
                                                </div>
                                                <p class="media-right text-right text-fade">Ostatnie logowanie<br> {{ item_u.last_login }}
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                
                                {% for item_g in item_u.workers_set.all %}
                                    {% if item_g.in_work %}
                                        <div class="box-footer no-padding">
                                            <ul class="nav d-block nav-stacked font-size-16">
                                                <li class="nav-item"><a
                                                        href="{% url 'gadget_info' pk=item_g.gadget.id %}"
                                                        class="nav-link">
                                                    {{ item_g.gadget.id }}
                                                    {% if item_g.gadget.brand_gadget %}
                                                        {{ item_g.gadget.brand_gadget }}
                                                    {% endif %}
                                                    {{ item_g.gadget.model_gadget }}
                                                    <span class="pull-right mr-10 badge ml-10                                                        
                                                        {% if item_g.gadget.time_in_serwis_get <= 3 %} bg-info
                                                        {% elif item_g.gadget.time_in_serwis_get > 3 and item_g.gadget.time_in_serwis_get <= 14 %} bg-dark
                                                        {% elif item_g.gadget.time_in_serwis_get > 14 %} bg-danger                                              
                                                        {% endif %}                                                        
                                                        ">{{ item_g.gadget.time_in_serwis_get }} dni
                                                        </span>

                                                    <span class="pull-right badge                                                         
                                                        {% if item_g.gadget.status == 'NAPRAWIENIE' %} bg-secondary
                                                        {% elif item_g.gadget.status == 'GOTOWY' %} bg-primary
                                                        {% elif item_g.gadget.status == 'CZEKA NA CZĘŚCI' %} bg-dark
                                                        {% elif item_g.gadget.status == 'REZYGNACJA' %} bg-purple
                                                        {% elif item_g.gadget.status == 'WYCENA' %} btn-success
                                                        {% elif item_g.gadget.status == 'DIAGNOSTYKA' %} btn-pink
                                                        {% elif item_g.gadget.status == 'CZEKA NA ZGODĘ' %} btn-brown
                                                        {% elif item_g.gadget.status == 'ZALICZKA' %} bg-green
                                                        {% elif item_g.gadget.status == 'NOWY' %} bg-info
                                                        {% endif %}                                                        
                                                        ">{{ item_g.gadget.status }}
                                                        </span>

                                                    <span class="pull-right mr-10 badge                                                         
                                                        {% if item_g.gadget.pilne == 'PILNE' %} bg-danger
                                                        {% elif item_g.gadget.pilne == 'ŚREDNIO' %} bg-warning
                                                        {% elif item_g.gadget.pilne == 'NIE' %}                                               
                                                        {% endif %}                                                        
                                                        ">{{ item_g.gadget.pilne }}
                                                        </span>


                                                </a>

                                                </li>


                                            </ul>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="box-footer">

        </div>

    </section>
<script>
     function update(){
    location.reload(false);
    }
    setTimeout('update()',60000);
</script>
{% endblock %}