{% extends 'index.html' %}
{% block content %}
    <section class="content-header">
        <h1>
            {{ user.username }}
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-address-book"></i></a></li>
            <li class="breadcrumb-item active">{{ user.username }}</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Lista Urządzeń {{ user.username }}</h3>

                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>

            </div>

            <div class="box-body">

                <form class="navbar-form navbar-left float-left">
                    <div class="input-group">
                        <input class="form-control" type="search" name="q" aria-label="#" placeholder="Szukaj">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Szukaj</button>
                        </span>
                    </div>
                </form>
                <!-- CONTENT_MAIN -->
                <form class="float-left ml-20 mt-20">


                    <div class="btn-group">
                        <button type="button" class="btn

                                                        {% if filters.filter_work == 'WSZYSCY' %} btn-primary
                                                        {% elif filters.filter_work == 'W SERWISIE' %} btn-secondary
                                                        
                                                  
                                                        {% endif %} dropdown-toggle btn-sm"

                                data-toggle="dropdown">Pokaż urządzenia: {{ filters.filter_work }}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="{% url 'filters_work_change' status='WSZYSCY' %}">WSZYSCY</a>
                            <a class="dropdown-item"
                               href="{% url 'filters_work_change' status='W SERWISIE' %}">W SERWISIE</a>
                        </div>
                    </div>



                    {% if gadgets_data.gadget.type_service == 'Płatne' %}
                        <span class="btn btn-info btn-xs">PŁATNE</span>
                    {% elif gadgets_data.gadget.type_service == 'Gwarancja' %}
                        <span class="btn btn-warning btn-xs">GWARANCJA</span>
                    {% elif gadgets_data.gadget.type_service == 'Reklamacja' %}
                        <span class="btn btn-danger btn-xs">REKLAMACJA</span>
                    {% endif %}

                </form>

                {% if is_paginated %}
                    <form class="navbar-form navbar-right">

                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item {% if not prev_url %} disabled {% endif %}">
                                    <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                {% for n in gadgets.paginator.page_range %}

                                    {% if gadgets.number == n %}

                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                        </li>

                                    {% elif n > gadgets.number|add:-4 and n < gadgets.number|add:4 %}

                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                <li class="page-item {% if not next_url %} disabled {% endif %}">
                                    <a class="page-link" href="{{ next_url }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </form>
                {% endif %}



                <!-- table -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="example"
                               class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                            <thead>
                            <tr class="bg-secondary ">
                                <th class="text-center font-weight-bold b-3 border-white">№</th>
                                <th class="text-center font-weight-bold b-3 border-white">Urządzenie</th>
                                <th class="text-center font-weight-bold b-3 border-white">Model</th>
                                <th class="text-center font-weight-bold b-3 border-white">Właściciel</th>
                                <th class="text-center font-weight-bold b-3 border-white">Telefon</th>
                                <th class="text-center font-weight-bold b-3 border-white">Data</th>
                                <th class="text-center font-weight-bold b-3 border-white">Stan</th>
                                <th class="text-center font-weight-bold b-3 border-white">Rodzaj Naprawy</th>
                                <th class="text-center font-weight-bold b-3 border-white">Pilne</th>
                                {% if request.user.is_authenticated and not request.user.is_staff %}
                                    <th class="text-center font-weight-bold b-3 border-white">Do naprawy</th>
                                {% elif request.user.is_authenticated and request.user.is_staff %}
                                    <th></th>
                                {% endif %}
                            </tr>
                            </thead>

                            {% for gadgets_data in gadgets %}

                                <tbody>
                                <tr class="text-center font-size-14">
                                    <td class="b-3 border-white "><a
                                            href="{% url 'gadget_info' pk=gadgets_data.gadget.id user_pk=user.id %}">{{ gadgets_data.gadget.id }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a
                                            href="{% url 'gadget_info' pk=gadgets_data.gadget.id user_pk=user.id %}">{{ gadgets_data.gadget.type_gadget }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a
                                            href="{% url 'gadget_info' pk=gadgets_data.gadget.id user_pk=user.id %}">{{ gadgets_data.gadget.brand_gadget }} {{ gadgets_data.gadget }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a
                                            href="{% url 'gadget_info' pk=gadgets_data.gadget.id user_pk=user.id %}">{{ gadgets_data.gadget.master_gadget }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a
                                            href="{% url 'gadget_info' pk=gadgets_data.gadget.id user_pk=user.id %}">{{ gadgets_data.gadget.telefon_master_gadget }}</a>
                                    </td>
                                    <td class="b-3 border-white"><a
                                            href="{% url 'gadget_info' pk=gadgets_data.gadget.id user_pk=user.id %}">{{ gadgets_data.gadget.created_at_format }}</a>
                                    </td>
                                    <td class="b-3 border-white">
                                        <div class="btn-group">
                                            <button type="button" class="btn

                                                        {% if gadgets_data.gadget.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.gadget.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.gadget.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.gadget.status == 'NOWY' %} btn-info
                                                        {% endif %} dropdown-toggle btn-xs"

                                                    data-toggle="dropdown">{{ gadgets_data.gadget.status }}
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.gadget.id status='NAPRAWIENIE' %}">NAPRAWIENIE</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.gadget.id status='GOTOWY' %}">GOTOWY</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.gadget.id status='CZEKA NA CZĘŚCI' %}">CZEKA
                                                    NA CZĘŚCI</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.gadget.id status='REZYGNACJA' %}">REZYGNACJA</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'gadget_status_change' pk=gadgets_data.gadget.id status='NOWY' %}">NOWY</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="b-3 border-white">
                                    {% if request.user.is_authenticated and request.user.is_staff %}
                                        <div class="btn-group">
                                            <button type="button" class="btn
                                                        {% if gadgets_data.gadget.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.gadget.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.gadget.type_service == 'REKLAMACJA' %} btn-danger
                                                  
                                                        {% endif %}
                                                        btn-xs dropdown-toggle"
                                                    data-toggle="dropdown">{{ gadgets_data.gadget.type_service }}
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                   href="{% url 'service_status_change' pk=gadgets_data.gadget.id status='PŁATNE' %}">PŁATNE</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'service_status_change' pk=gadgets_data.gadget.id status='GWARANCJA' %}">GWARANCJA</a>
                                                <a class="dropdown-item"
                                                   href="{% url 'service_status_change' pk=gadgets_data.gadget.id status='REKLAMACJA' %}">REKLAMACJA</a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <button type="button" class="btn
                                                        {% if gadgets_data.gadget.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.gadget.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.gadget.type_service == 'REKLAMACJA' %} btn-danger
                                                        {% endif %}
                                                        btn-xs">{{ gadgets_data.gadget.type_service }}
                                        </button>
                                    {% endif %}
                                    </td>
                                    <td class="b-3 border-white">
                                    {% if request.user.is_authenticated and request.user.is_staff %}
                                            <div class="btn-group">
                                                <button type="button" class="btn
                                                        {% if gadgets_data.gadget.pilne == 'PILNE' %} btn-danger
                                                        {% elif gadgets_data.gadget.pilne == 'ŚREDNIO' %} btn-warning
                                                        {% elif gadgets_data.gadget.pilne == 'NIE' %} btn-secondary
                                                  
                                                        {% endif %}
                                                        btn-xs dropdown-toggle"
                                                        data-toggle="dropdown">{{ gadgets_data.gadget.pilne }}
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                       href="{% url 'pilne_status_change' pk=gadgets_data.gadget.id status='PILNE' %}">PILNE</a>
                                                    <a class="dropdown-item"
                                                       href="{% url 'pilne_status_change' pk=gadgets_data.gadget.id status='ŚREDNIO' %}">ŚREDNIO</a>
                                                    <a class="dropdown-item"
                                                       href="{% url 'pilne_status_change' pk=gadgets_data.gadget.id status='NIE' %}">NIE</a>
                                                </div>
                                            </div>
                                        {% else %}
                                            <button type="button" class="btn
                                                        {% if gadgets_data.gadget.pilne == 'NIE' %} btn-secondary
                                                        {% elif gadgets_data.gadget.pilne == 'ŚREDNIO' %} btn-warning
                                                        {% elif gadgets_data.gadget.pilne == 'PILNE' %} btn-danger
                                                        {% endif %}
                                                        btn-xs">{{ gadgets_data.gadget.pilne }}
                                            </button>
                                        {% endif %}
                                    </td>
                                    <td class="b-3 border-white">
                                        {% if request.user.is_authenticated and request.user.is_staff %}

                                            <div class="clearfix">

                                                <a href="{% url 'outgo_gadget' pk=gadgets_data.gadget.pk %}">
                                                    {% if gadgets_data.gadget.in_serwis == True %}
                                                        <button class="btn bg-pale-primary btn-xs">Wydaj</button>
                                                    {% else %}
                                                        <button class="btn bg-primary btn-xs">Przyjmij</button>
                                                    {% endif %}
                                                </a>
                                                <a href="{{ gadgets_data.gadget.get_absolute_url }}">
                                                    <button class="btn bg-pale-info btn-xs">Edit</button>
                                                </a>

                                                <div class="btn-group">
                                                    <button type="button"
                                                            class="btn btn-xs bg-pale-danger dropdown-toggle"
                                                            data-toggle="dropdown">
                                                        Delete
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="text-center dropdown-item"
                                                           href=""><h2>Jesteś pewny?</h2>
                                                        </a>
                                                        <a class="text-center dropdown-item"
                                                           href="{% url 'delete_gadget' pk=gadgets_data.gadget.id %}"><h2>
                                                            DELETE</h2></a>
                                                    </div>
                                                </div>
                                            </div>

                                        {% elif gadgets_data.gadget.in_serwis %}
                                            <a href="{% url 'delete_gadget_to_worker' pk=gadgets_data.gadget.id %}">
                                            <span class="btn bg-danger btn-xs">Usuń</span>
                                            </a>

                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>


                            {% endfor %}

                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="box-footer"></div>
    </section>
{% endblock content %}


