{% extends 'index.html' %}
{% block content %}

    <section class="content-header">
        <h1>
            #{{ naprawa_opus.id }}
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-edit"></i> </a></li>
            <li class="breadcrumb-item active">Kartka {{ naprawa_opus.KNP_NR_SER_KOL }}
                / {{ naprawa_opus.KNP_NR_ROK }}</li>
        </ol>
    </section>
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Kartka {{ naprawa_opus.KNP_NR_SER_KOL }} /{{ naprawa_opus.KNP_NR_ROK }} 
                </h3>
                <span class="badge bg-pale-dark font-size-14 pull-right mr-90">{{ naprawa_opus.KNP_POCZATEK_NAPRAWY }} - {{ naprawa_opus.KNP_PR_DATA_KONCANAPR }}</span>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide rotate-180" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <!-- CONTENT_MAIN -->

                <div class="row">
                    <div class="col">


                        <div class="row">

                            <div class="col-lg-6 col-12">

                                {% if naprawa_opus.KNP_NR_WLASCICIELA %}
                                    <div class="form-group">
                                        <h5>Imie Nazwisko: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_NR_WLASCICIELA }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_NR_WLASCICIELA.telefon_klient %}
                                    <div class="form-group">
                                        <h5>Telefon: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_NR_WLASCICIELA.telefon_klient }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_NR_WLASCICIELA.email_klient %}
                                    <div class="form-group">
                                        <h5>Email: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_NR_WLASCICIELA.email_klient }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_OPIS_USTERKI %}
                                    <div class="form-group">
                                        <h5>Opis Usterki:
                                            <div>
                                                <br>
                                                <span class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_OPIS_USTERKI }}</span>
                                            </div>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_NR_WLASCICIELA.email_klient %}
                                    <div class="form-group">
                                    
                                        <h5>Wykonane Naprawy: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_WYKONANE_NAPRAWY }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_OPIS_WYPOSAZENIA %}
                                    <div class="form-group">
                                        <h5>Opis Wyposażenia: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_OPIS_WYPOSAZENIA }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_UWAGI %}
                                    <div class="form-group">
                                        <h5>Uwagi: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_UWAGI }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_ID_NAPRAW %}
                                    <div class="form-group">
                                        <h5>Technik: <span class="font-weight-bold font-size-20">
                                            {{ naprawa_opus.KNP_ID_NAPRAW.PRC_IMIE }} 
                                            {{ naprawa_opus.KNP_ID_NAPRAW.PRC_NAZWISKO }} 
                                            ({{ naprawa_opus.KNP_ID_NAPRAW.PRC_LOGIN }})
                                        </span>
                                        </h5>
                                    </div>
                                {% endif %}

                            </div>

                            <div class="col-lg-6 col-12">

                                {% if naprawa_opus.KNP_POLEDODATKOWE1 %}
                                    <div class="form-group">
                                        <h5>Pole Dodatkowe 2: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_POLEDODATKOWE2 }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_POLEDODATKOWE2 %}
                                    <div class="form-group">
                                        <h5>Pole Dodatkowe 1: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_POLEDODATKOWE1 }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_POLEDODATKOWE3 %}
                                    <div class="form-group">
                                        <h5>Pole Dodatkowe 3: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_POLEDODATKOWE3 }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_POLEDODATKOWE4 %}
                                    <div class="form-group">
                                        <h5>Pole Dodatkowe 4: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_POLEDODATKOWE4 }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_POLEDODATKOWE5 %}
                                    <div class="form-group">
                                        <h5>Pole Dodatkowe 5: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_POLEDODATKOWE5 }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_POLEDODATKOWE6 %}
                                    <div class="form-group">
                                        <h5>Pole Dodatkowe 6: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_POLEDODATKOWE6 }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_POLEDODATKOWE7 %}
                                    <div class="form-group">
                                        <h5>Pole Dodatkowe 7: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_POLEDODATKOWE7 }}</span>
                                        </h5>
                                    </div>
                                {% endif %}
                                {% if naprawa_opus.KNP_POLEDODATKOWE8 %}
                                    <div class="form-group">
                                        <h5>Pole Dodatkowe 8: <span
                                                class="font-weight-bold font-size-20">{{ naprawa_opus.KNP_POLEDODATKOWE8 }}</span>
                                        </h5>
                                    </div>
                                {% endif %}


                            </div>

                        </div>

                        <a href="{% url 'index_opusserwis20' %}">
                            <button type="submit" class="btn btn-danger float-right ml-20"><i
                                    class="fa fa-close"></i>
                                Zamknąć
                            </button>
                        </a>
                    </div>
                </div>
            </div>

    </section>

{% endblock %}

