{% extends 'index.html' %}
{% block content %}
    <section class="content-header">
        <h1>
            <div class="media-body">
                <h1 class="text-fade mb-1">Strona główna</h1>
            </div>
        </h1>
        <ol class="breadcrumb">

        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-12">
                <div class="box box-body">
                    <h6 class="text-uppercase">Urządzeń w Serwisie</h6>
                    <div class="flexbox mt-2">
                        <span class="fa fa-laptop text-info font-size-40"></span>
                        <span class=" font-size-30">{{ qnt_gadgets }}</span>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="box box-body">
                    <h6 class="text-uppercase">Gotowe Urządzenia</h6>
                    <div class="flexbox mt-2">
                        <span class="fa fa-thumbs-o-up text-primary font-size-40"></span>
                        <span class=" font-size-30">{{ gadgets_ok }}</span>
                    </div>
                </div>
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-xl-3 col-md-6 col-12">
                <div class="box box-body">
                    <h6 class="text-uppercase">Urządzeń u Techników</h6>
                    <div class="flexbox mt-2">
                        <span class="fa fa-user-plus font-size-40 text-purple"></span>
                        <span class=" font-size-30">{{ gadgets_serwis }}</span>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xl-3 col-md-6 col-12">
                <div class="box box-body">
                    <h6 class="text-uppercase">Czeka na Części</h6>
                    <div class="flexbox mt-2">
                        <span class="fa  fa-hourglass-start font-size-40 text-dark"></span>
                        <span class=" font-size-30">{{ gadgets_czeka }}</span>
                    </div>
                </div>
            </div>
            {% if request.user.is_staff %}
                {% for technik in techniki %}
                    {% if technik.workers_set.exists %}
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-header"><h4 class="box-title">{{ technik.username }}</h4>
                                    <h4 class="float-right">0{{ now.month }}-{{ now.year }}</h4>
                                </div>
                                <div class="box-body px-0 py-0">

                                    <div class="media-list media-list-hover media-list-divided">
                                        <a class="media media-single"
                                           href="{% url 'kartka_napraw' pk=technik.id %}">
                                            <span class="title font-size-16 text-fade">Płatne</span>
                                            <span class="badge badge-lg badge-info">{{ technik.kartkaplatne_set.count }}</span>
                                        </a>
                                        <a class="media media-single"
                                           href="{% url 'kartka_napraw' pk=technik.id %}">
                                            <span class="title font-size-16 text-fade">Gwarancja</span>
                                            <span class="badge badge-lg badge-warning">{{ technik.kartkagwarancja_set.count }}</span>
                                        </a>
                                        <a class="media media-single"
                                           href="{% url 'kartka_napraw' pk=technik.id %}">
                                            <span class="title font-size-16 text-fade">Reklamacja</span>
                                            <span class="badge badge-lg badge-danger">{{ technik.kartkareklamacja_set.count }}</span>
                                        </a>
                                        <a class="media media-single"
                                           href="{% url 'kartka_napraw' pk=technik.id %}">
                                            <span class="title font-size-16 text-fade">Rezygnacja</span>
                                            <span class="badge badge-lg badge-purple">{{ technik.kartkarezygnacja_set.count }}</span>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for technik in techniki %}
                    {% if technik.workers_set.exists and request.user == technik %}
                        <div class="col-md-6 col-lg-3">
                            <div class="box">
                                <div class="box-header"><h4 class="box-title">{{ technik.username }}</h4>
                                    <h4 class="float-right">0{{ now.month }}-{{ now.year }}</h4>
                                </div>
                                <div class="box-body px-0 py-0">

                                    <div class="media-list media-list-hover media-list-divided">
                                        <a class="media media-single"
                                           href="{% url 'kartka_napraw' pk=technik.id %}">
                                            <span class="title font-size-16 text-fade">Płatne</span>
                                            <span class="badge badge-lg badge-info">{{ technik.kartkaplatne_set.count }}</span>
                                        </a>
                                        <a class="media media-single"
                                           href="{% url 'kartka_napraw' pk=technik.id %}">
                                            <span class="title font-size-16 text-fade">Gwarancja</span>
                                            <span class="badge badge-lg badge-warning">{{ technik.kartkagwarancja_set.count }}</span>
                                        </a>
                                        <a class="media media-single"
                                           href="{% url 'kartka_napraw' pk=technik.id %}">
                                            <span class="title font-size-16 text-fade">Reklamacja</span>
                                            <span class="badge badge-lg badge-danger">{{ technik.kartkareklamacja_set.count }}</span>
                                        </a>
                                        <a class="media media-single"
                                           href="{% url 'kartka_napraw' pk=technik.id %}">
                                            <span class="title font-size-16 text-fade">Rezygnacja</span>
                                            <span class="badge badge-lg badge-purple">{{ technik.kartkarezygnacja_set.count }}</span>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h5 class="box-title">Notatki</h5>
                    </div>
                    {% for note in notatki %}
                        {% if note.gadget.workers.worker == request.user or request.user.is_staff %}
                            {% if not note.author == tpl %}
                                <div class="box-body p-0">
                                    <div class="media-list media-list-hover">
                                        <div class="media">
                                            <a class="align-self-center" href="">
                                                {% if note.title == 'CZĘŚCI' %}
                                                    <i class="fa fa-shopping-cart font-size-30"></i>
                                                {% elif note.title == 'DIAGNOSTYKA' %}
                                                    <i class="fa fa-cogs font-size-30"></i>
                                                {% elif note.title == 'UWAGA' %}
                                                    <i class="glyphicon glyphicon-exclamation-sign font-size-30"></i>
                                                {% elif note.title == 'ZALICZKA' %}
                                                    <i class="fa fa-money  font-size-30"></i>
                                                {% elif note.title == 'ZGODA' %}
                                                    <i class="fa fa-check-circle font-size-30"></i>
                                                {% elif note.title == 'ZADANIE' %}
                                                    <i class="fa fa-crosshairs font-size-30"></i>
                                                {% elif note.title == 'WYCENA' %}
                                                    <i class="fa fa-dollar font-size-30"></i>
                                                {% elif note.title == 'none' %}
                                                    <i class="fa fa-commenting-o font-size-30"></i>
                                                {% endif %}

                                            </a>
                                            <div class="media-body">
                                                <p>
                                                    <a class="hover-primary"
                                                       href="{% url 'outgo_gadget' pk=note.gadget.id %}">
                                                        <strong>
                                                            <badge class="badge-pill  bg-pale-info">
                                                                Autor {{ note.author }}</badge>
                                                            <badge class="badge-pill  bg-pale-info">{{ note.gadget.id }} {{ note.gadget }}</badge>
                                                            <badge class="badge-pill  bg-pale-info">
                                                                Technik {{ note.gadget.workers.worker }}</badge>
                                                            {% if note.title == 'none' %}
                                                            {% else %}
                                                                <badge class="badge-pill  bg-pale-info">{{ note.title }}</badge>
                                                            {% endif %}
                                                            {% if not request.user == note.author and not note.read %}
                                                                <a href="{% url 'red_note' pk=note.id %}">
                                                                    <badge class="badge-pill bg-red">Zaakceptować
                                                                    </badge>
                                                                </a>
                                                            {% elif not request.user == note.author and note.read %}
                                                                <badge class="badge-pill bg-green">OK</badge>
                                                            {% elif request.user == note.author and not note.read %}
                                                                <badge class="badge-pill bg-red">Nie zaakceptowane
                                                                </badge>
                                                            {% elif request.user == note.author and note.read %}
                                                                <badge class="badge-pill bg-green">OK</badge>
                                                            {% endif %}
                                                        </strong></a>
                                                    <time class="float-right">{{ note.created_at_format }}</time>
                                                </p>
                                                <p>{{ note.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6 col-lg-6">

                <div class="box">
                    <div class="box-header with-border">
                        <h5 class="box-title">Taśma Eventowa</h5>
                    </div>
                    {% for note in notatki %}
                        {% if note.gadget.workers.worker == request.user or request.user.is_staff %}
                            {% if note.author == tpl %}
                                <div class="box-body p-0">
                                    <div class="media-list media-list-hover">
                                        <div class="media">
                                            <a class="align-self-center" href="">
                                                {% if note.title == 'CZĘŚCI' %}
                                                    <i class="fa fa-shopping-cart font-size-30"></i>
                                                {% elif note.title == 'DIAGNOSTYKA' %}
                                                    <i class="fa fa-cogs font-size-30"></i>
                                                {% elif note.title == 'UWAGA' %}
                                                    <i class="glyphicon glyphicon-exclamation-sign font-size-30"></i>
                                                {% elif note.title == 'ZGODA' %}
                                                    <i class="fa fa-check-circle font-size-30"></i>
                                                {% elif note.title == 'ZADANIE' %}
                                                    <i class="fa fa-crosshairs font-size-30"></i>
                                                {% elif note.title == 'none' %}
                                                    <i class="fa fa-commenting-o font-size-30"></i>
                                                {% endif %}

                                            </a>
                                            <div class="media-body">
                                                <p>
                                                    <a class="hover-primary"
                                                       href="{% url 'outgo_gadget' pk=note.gadget.id %}">
                                                        <strong>
                                                            <badge class="badge-pill  bg-pale-info">{{ note.gadget.id }} {{ note.gadget }}</badge>
                                                            {% if note.title == 'none' %}
                                                            {% else %}
                                                                <badge class="badge-pill  bg-pale-info">{{ note.title }}</badge>
                                                            {% endif %}
                                                        </strong></a>
                                                    <time class="float-right">{{ note.created_at_format }}</time>
                                                </p>
                                                <p>{{ note.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>

    <script>
        function update() {
            location.reload(false);
        }

        setTimeout('update()', 60000);
    </script>
{% endblock content %}
