{% extends 'index.html' %}
{% block content %}

    <section class="content-header">
        <h1>
            {{ technik.first_name }} {{ technik.last_name }} Kartka Napraw za
            {% if filters.filter_dashboar == 'MIESIĄC' %}
                0{{ now.month }}-{{ now.year }}
            {% elif filters.filter_dashboar == 'WSZYSCY' %}
                cały czas
            {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-edit"></i> </a></li>
            <li class="breadcrumb-item active">Urządzenie</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title float-left mt-10">2. Urządzenie</h3>
                <form class="float-left ml-20 mt-10">
                    <div class="btn-group">
                        <button type="button" class="btn
                                                        {% if filters.filter_dashboar == 'WSZYSCY' %} btn-primary
                                                        {% elif filters.filter_dashboar == 'MIESIĄC' %} btn-secondary
                                                        {% endif %} dropdown-toggle btn-sm"
                                data-toggle="dropdown">Pokaż urządzenia: {{ filters.filter_dashboar }}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               href="{% url 'filters_dashboard_change' status='WSZYSCY' %}">WSZYSCY</a>
                            <a class="dropdown-item"
                               href="{% url 'filters_dashboard_change' status='MIESIĄC' %}">MIESIĄC</a>
                        </div>
                    </div>
                </form>

                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide rotate-180" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example"
                           class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                        <thead>
                        <tr class="bg-secondary ">
                            <th class="text-center font-weight-bold b-3 border-white">№</th>
                            <th class="text-center font-weight-bold b-3 border-white">Urządzenie</th>
                            <th class="text-center font-weight-bold b-3 border-white">Data rozpoczęcia naprawy</th>
                            <th class="text-center font-weight-bold b-3 border-white">Koniec Naprawy</th>
                            <th class="text-center font-weight-bold b-3 border-white">Stan</th>
                            <th class="text-center font-weight-bold b-3 border-white">Rodzaj Naprawy</th>
                        </tr>
                        </thead>

                        {% for gadgets_data in gadgets %}

                            <tbody>
                            <tr class="text-center font-size-14">
                                <td class="b-3 border-white ">
                                    <a href="{% url 'outgo_gadget' pk=gadgets_data.gadget.id %}">{{ gadgets_data.gadget.id }}
                                    </a>
                                </td>
                                <td class="b-3 border-white">
                                    <a href="{% url 'outgo_gadget' pk=gadgets_data.gadget.id %}">
                                        {{ gadgets_data.gadget.type_gadget }}
                                        {{ gadgets_data.gadget.brand_gadget }}
                                        {{ gadgets_data.gadget }}</a>
                                </td>
                                <td class="b-3 border-white">
                                    <a href="{% url 'outgo_gadget' pk=gadgets_data.gadget.id %}">
                                        {{ gadgets_data.gadget.workers.added_at_format }}</a>
                                </td>
                                <td class="b-3 border-white">
                                    <a href="{% url 'outgo_gadget' pk=gadgets_data.gadget.id %}">
                                    {{ gadgets_data.created_at_format }}</a>
                                </td>
                                <td class="b-3 border-white">
                                    <div class="btn-group">
                                        <button type="button" class="btn
                                                        {% if gadgets_data.gadget.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.gadget.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.gadget.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.gadget.status == 'NOWY' %} btn-info
                                                        {% endif %} btn-xs">{{ gadgets_data.gadget.status }}
                                        </button>
                                    </div>
                                </td>
                                <td class="b-3 border-white">
                                    <button type="button" class="btn
                                                        {% if gadgets_data.gadget.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.gadget.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.gadget.type_service == 'REKLAMACJA' %} btn-danger
                                                        {% endif %}btn-xs">{{ gadgets_data.gadget.type_service }}
                                    </button>
                                </td>

                            </tr>
                            </tbody>
                        {% endfor %}
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="box-footer"></div>
        </div>

    </section>

{% endblock %}