{% extends 'index.html' %}
{% block content %}

    <section class="content-header">
        <h1>
            <div class="media-body">
                <h1 class="text-fade">{{ technik.first_name }} {{ technik.last_name }}</h1>
                <span class="text-fade">Kartka Napraw za 0{{ month }}-{{ now.year }}</span>
            </div>
        </h1>
        <h1>
             

        </h1>
        <ol class="breadcrumb">

        </ol>
    </section>
    <section class="content">
        <div class="col-12 col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title float-left mt-10 text-fade">Miesiąc</h3>
                    <form class="float-left ml-20 mt-10">
                        <div class="btn-group">
                            <button type="button" class="btn dropdown-toggle btn-sm"
                                    data-toggle="dropdown">0{{ month }} - {{ now.year }}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"
                                   href="?month=1">01 - {{ now.year }} styczeń</a>
                                <a class="dropdown-item"
                                   href="?month=2">02 - {{ now.year }} luty</a>
                                <a class="dropdown-item"
                                   href="?month=3">03 - {{ now.year }} marzec</a>
                                <a class="dropdown-item"
                                   href="?month=4">04 - {{ now.year }} kwiecień</a>
                                <a class="dropdown-item"
                                   href="?month=5">05 - {{ now.year }} maj</a>
                                <a class="dropdown-item"
                                   href="?month=6">06 - {{ now.year }} czerwiec</a>
                                <a class="dropdown-item"
                                   href="?month=7">07 - {{ now.year }} lipiec</a>
                                <a class="dropdown-item"
                                   href="?month=8">08 - {{ now.year }} sierpień</a>
                                <a class="dropdown-item"
                                   href="?month=9">09 - {{ now.year }} wrzesień</a>
                                <a class="dropdown-item"
                                   href="?month=10">10 - {{ now.year }} październik</a>
                                <a class="dropdown-item"
                                   href="?month=11">11 - {{ now.year }} listopad</a>
                                <a class="dropdown-item"
                                   href="?month=12">12 - {{ now.year }} grudzień</a>
                            </div>
                        </div>
                    </form>

                    <ul class="box-controls pull-right">
                        <li><a class="box-btn-close" href="#"></a></li>
                        <li><a class="box-btn-slide rotate-180" href="#"></a></li>
                        <li><a class="box-btn-fullscreen" href="#"></a></li>
                    </ul>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Płatne"
                                                role="tab"><span
                                class="hidden-sm-up"><i class="ion-home"></i></span> <span
                                class="hidden-xs-down">Płatne <h4
                                class="text-center">{{ płatne.count }}</h4></span></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#gwarancja" role="tab"><span
                                class="hidden-sm-up"><i class="ion-person"></i></span> <span
                                class="hidden-xs-down">Gwarancja <h4
                                class="text-center">{{ gwarancja.count }}</h4></span></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#reklamacja" role="tab"><span
                                class="hidden-sm-up"><i class="ion-email"></i></span> <span
                                class="hidden-xs-down">Reklamacja <h4
                                class="text-center">{{ reklamacja.count }}</h4></span></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rezygnacja" role="tab"><span
                                class="hidden-sm-up"><i class="ion-email"></i></span> <span
                                class="hidden-xs-down">Rezygnacja <h4
                                class="text-center">{{ rezygnacja.count }}</h4></span></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane active" id="Płatne" role="tabpanel">
                            <div class="table-responsive">
                                <table id="example"
                                       class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                    <thead>
                                    <tr class="bg-secondary ">
                                        <th class="text-center font-weight-bold b-3 border-white">№</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Urządzenie</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Data rozpoczęcia
                                            naprawy
                                        </th>
                                        <th class="text-center font-weight-bold b-3 border-white">Koniec Naprawy
                                        </th>
                                        <th class="text-center font-weight-bold b-3 border-white">Opis Technika</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Stan</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Rodzaj Naprawy
                                        </th>
                                    </tr>
                                    </thead>

                                    {% for gadgets_data in płatne %}

                                        <tbody>
                                        <tr class="text-center font-size-14"
                                            data-href="{% url 'gadget_info' pk=gadgets_data.gadget.id %}">
                                            <td class="b-3 border-white ">
                                                {{ gadgets_data.gadget.id }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.type_gadget %}
                                                    {{ gadgets_data.gadget.type_gadget }}
                                                {% endif %}
                                                {% if gadgets_data.gadget.brand_gadget %}
                                                    {{ gadgets_data.gadget.brand_gadget }}
                                                {% endif %}
                                                {{ gadgets_data.gadget }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {{ gadgets_data.gadget.workers.added_at_format }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {{ gadgets_data.created_at_format }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.opis_naprawy %}
                                                    {{ gadgets_data.gadget.opis_naprawy }}
                                                {% endif %}
                                            </td>
                                            <td class="b-3 border-white">
                                                <div class="btn-group">
                                                    <button type="button" class="btn
                                                        {% if gadgets_data.gadget.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.gadget.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.gadget.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.gadget.status == 'NOWY' %} btn-info
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA ZGODĘ' %} btn-brown
                                                        {% elif gadgets_data.gadget.status == 'WYCENA' %} btn-success
                                                        {% elif gadgets_data.gadget.status == 'DIAGNOSTYKA' %} btn-pink
                                                        {% elif gadgets_data.gadget.status == 'ZALICZKA' %} bg-green
                                                        {% endif %} btn-xs">{{ gadgets_data.gadget.status }}
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="b-3 border-white">
                                                <button type="button" class="btn
                                                        {% if gadgets_data.gadget.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.gadget.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.gadget.type_service == 'REKLAMACJA' %} btn-danger
                                                        {% endif %}btn-xs">{{ gadgets_data.gadget.type_service }}
                                                </button>
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.in_serwis %}
                                                    <button type="button" class="btn btn-primary btn-xs">
                                                        CZEKA NA ODBIOR
                                                    </button>
                                                {% else %}
                                                    <button type="button" class="btn bg-pale-primary btn-xs">
                                                        KLIENT ODEBRAŁ
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane pad" id="gwarancja" role="tabpanel">
                            <div class="table-responsive">
                                <table id="example"
                                       class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                    <thead>
                                    <tr class="bg-secondary ">
                                        <th class="text-center font-weight-bold b-3 border-white">№</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Urządzenie</th>
                                        <th class="text-center font-weight-bold b-3 border-white">
                                            Data rozpoczęcia naprawy
                                        </th>
                                        <th class="text-center font-weight-bold b-3 border-white">Koniec Naprawy</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Opis Technika</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Stan</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Rodzaj Naprawy</th>
                                    </tr>
                                    </thead>

                                    {% for gadgets_data in gwarancja %}

                                        <tbody>
                                        <tr class="text-center font-size-14"
                                            data-href="{% url 'gadget_info' pk=gadgets_data.gadget.id %}">
                                            <td class="b-3 border-white ">
                                                {{ gadgets_data.gadget.id }}

                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.type_gadget %}
                                                    {{ gadgets_data.gadget.type_gadget }}
                                                {% endif %}
                                                {% if gadgets_data.gadget.brand_gadget %}
                                                    {{ gadgets_data.gadget.brand_gadget }}
                                                {% endif %}
                                                {{ gadgets_data.gadget }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {{ gadgets_data.gadget.workers.added_at_format }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {{ gadgets_data.created_at_format }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.opis_naprawy %}
                                                    {{ gadgets_data.gadget.opis_naprawy }}
                                                {% endif %}
                                            </td>
                                            <td class="b-3 border-white">
                                                <div class="btn-group">
                                                    <button type="button" class="btn
                                                        {% if gadgets_data.gadget.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.gadget.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.gadget.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.gadget.status == 'NOWY' %} btn-info
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA ZGODĘ' %} btn-brown
                                                        {% elif gadgets_data.gadget.status == 'WYCENA' %} btn-success
                                                        {% elif gadgets_data.gadget.status == 'DIAGNOSTYKA' %} btn-pink
                                                        {% elif gadgets_data.gadget.status == 'ZALICZKA' %} bg-green
                                                        {% endif %} btn-xs">{{ gadgets_data.gadget.status }}
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="b-3 border-white">
                                                <button type="button" class="btn
                                                        {% if gadgets_data.gadget.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.gadget.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.gadget.type_service == 'REKLAMACJA' %} btn-danger
                                                        {% endif %}btn-xs">{{ gadgets_data.gadget.type_service }}
                                                </button>
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.in_serwis %}
                                                    <button type="button" class="btn btn-primary btn-xs">
                                                        CZEKA NA ODBIOR
                                                    </button>
                                                {% else %}
                                                    <button type="button" class="btn bg-pale-primary btn-xs">
                                                        KLIENT ODEBRAŁ
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane pad" id="reklamacja" role="tabpanel">
                            <div class="table-responsive">
                                <table id="example"
                                       class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                    <thead>
                                    <tr class="bg-secondary ">
                                        <th class="text-center font-weight-bold b-3 border-white">№</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Urządzenie</th>
                                        <th class="text-center font-weight-bold b-3 border-white">
                                            Data rozpoczęcia naprawy
                                        </th>
                                        <th class="text-center font-weight-bold b-3 border-white">Koniec Naprawy</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Opis Technika</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Stan</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Rodzaj Naprawy</th>
                                    </tr>
                                    </thead>

                                    {% for gadgets_data in reklamacja %}

                                        <tbody>
                                        <tr class="text-center font-size-14"
                                            data-href="{% url 'gadget_info' pk=gadgets_data.gadget.id %}">
                                            <td class="b-3 border-white ">
                                                {{ gadgets_data.gadget.id }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.type_gadget %}
                                                    {{ gadgets_data.gadget.type_gadget }}
                                                {% endif %}
                                                {% if gadgets_data.gadget.brand_gadget %}
                                                    {{ gadgets_data.gadget.brand_gadget }}
                                                {% endif %}
                                                {{ gadgets_data.gadget }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {{ gadgets_data.gadget.workers.added_at_format }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {{ gadgets_data.created_at_format }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.opis_naprawy %}
                                                    {{ gadgets_data.gadget.opis_naprawy }}
                                                {% endif %}
                                            </td>
                                            <td class="b-3 border-white">
                                                <div class="btn-group">
                                                    <button type="button" class="btn
                                                        {% if gadgets_data.gadget.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.gadget.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.gadget.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.gadget.status == 'NOWY' %} btn-info
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA ZGODĘ' %} btn-brown
                                                        {% elif gadgets_data.gadget.status == 'WYCENA' %} btn-success
                                                        {% elif gadgets_data.gadget.status == 'DIAGNOSTYKA' %} btn-pink
                                                        {% elif gadgets_data.gadget.status == 'ZALICZKA' %} bg-green
                                                        {% endif %} btn-xs">{{ gadgets_data.gadget.status }}
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="b-3 border-white">
                                                <button type="button" class="btn
                                                        {% if gadgets_data.gadget.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.gadget.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.gadget.type_service == 'REKLAMACJA' %} btn-danger
                                                        {% endif %}btn-xs">{{ gadgets_data.gadget.type_service }}
                                                </button>
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.in_serwis %}
                                                    <button type="button" class="btn btn-primary btn-xs">
                                                        CZEKA NA ODBIOR
                                                    </button>
                                                {% else %}
                                                    <button type="button" class="btn bg-pale-primary btn-xs">
                                                        KLIENT ODEBRAŁ
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane pad" id="rezygnacja" role="tabpanel">
                            <div class="table-responsive">
                                <table id="example"
                                       class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
                                    <thead>
                                    <tr class="bg-secondary">
                                        <th class="text-center font-weight-bold b-3 border-white">№</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Urządzenie</th>
                                        <th class="text-center font-weight-bold b-3 border-white">
                                            Data rozpoczęcia naprawy
                                        </th>
                                        <th class="text-center font-weight-bold b-3 border-white">Koniec Naprawy</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Opis Technika</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Stan</th>
                                        <th class="text-center font-weight-bold b-3 border-white">Rodzaj Naprawy</th>
                                    </tr>
                                    </thead>

                                    {% for gadgets_data in rezygnacja %}

                                        <tbody>
                                        <tr class="text-center font-size-14"
                                            data-href="{% url 'gadget_info' pk=gadgets_data.gadget.id %}">
                                            <td class="b-3 border-white ">
                                                {{ gadgets_data.gadget.id }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.type_gadget %}
                                                    {{ gadgets_data.gadget.type_gadget }}
                                                {% endif %}
                                                {% if gadgets_data.gadget.brand_gadget %}
                                                    {{ gadgets_data.gadget.brand_gadget }}
                                                {% endif %}
                                                {{ gadgets_data.gadget }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {{ gadgets_data.gadget.workers.added_at_format }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {{ gadgets_data.created_at_format }}
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.opis_naprawy %}
                                                    {{ gadgets_data.gadget.opis_naprawy }}
                                                {% endif %}
                                            </td>
                                            <td class="b-3 border-white">
                                                <div class="btn-group">
                                                    <button type="button" class="btn
                                                        {% if gadgets_data.gadget.status == 'NAPRAWIENIE' %} btn-secondary
                                                        {% elif gadgets_data.gadget.status == 'GOTOWY' %} btn-primary
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA CZĘŚCI' %} btn-dark
                                                        {% elif gadgets_data.gadget.status == 'REZYGNACJA' %} btn-purple
                                                        {% elif gadgets_data.gadget.status == 'NOWY' %} btn-info
                                                        {% elif gadgets_data.gadget.status == 'CZEKA NA ZGODĘ' %} btn-brown
                                                        {% elif gadgets_data.gadget.status == 'WYCENA' %} btn-success
                                                        {% elif gadgets_data.gadget.status == 'DIAGNOSTYKA' %} btn-pink
                                                        {% elif gadgets_data.gadget.status == 'ZALICZKA' %} bg-green
                                                        {% endif %} btn-xs">{{ gadgets_data.gadget.status }}
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="b-3 border-white">
                                                <button type="button" class="btn
                                                        {% if gadgets_data.gadget.type_service == 'PŁATNE' %} btn-info
                                                        {% elif gadgets_data.gadget.type_service == 'GWARANCJA' %} btn-warning
                                                        {% elif gadgets_data.gadget.type_service == 'REKLAMACJA' %} btn-danger
                                                        {% endif %}btn-xs">{{ gadgets_data.gadget.type_service }}
                                                </button>
                                            </td>
                                            <td class="b-3 border-white">
                                                {% if gadgets_data.gadget.in_serwis %}
                                                    <button type="button" class="btn btn-primary btn-xs">
                                                        CZEKA NA ODBIOR
                                                    </button>
                                                {% else %}
                                                    <button type="button" class="btn bg-pale-primary btn-xs">
                                                        KLIENT ODEBRAŁ
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </section>
    <script>
        $(document).ready(function ($) {
            $('*[data-href]').on('click', function () {
                window.location = $(this).data("href");
            });
        });
    </script>
    <script>
        function update() {
            location.reload(false);
        }

        setTimeout('update()', 60000);
    </script>
{% endblock %}